* {
	box-sizing: border-box;
}

body {
	background: #fff;
	color: #333;
	font-family: sans-serif;
	font-size: 16px;
}

#logo {
	opacity: 0.7;
	margin: 6px;
	transition: 0.3s ease-in all;
	cursor: pointer;
}

#logo:hover {
	opacity: 1.0;
}

#container {
	width: 150%;
	margin: 0 auto;
}

#currentDevice {
	display: none;
	position: fixed;
	z-index: 9000;
	top: 20px;
	left: 20px;
	width: 300px;
	height: 300px;
	background: #f5f5f5;
	border: 1px solid #666;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.item {
	background: #818182;
	padding: 25px;
	width: 280px;
	height: 280px;
	margin: 6px;
	color: #fff;
	text-transform: uppercase;
}

.tall {
	height: 560px;
}

.wide {
	width: 560px;
}

.white {
	background: #f4f4f4; /* Temporarily off-white to demonstrate layout */
}

.item h1 {
	font-size: 3em;
}

.item h2 {
	font-size: 1.5em;
}