extends layout

block content
	#watchHistory
		a(href="/")
			#escape
				img(src='../images/watches/close.png')
		.watchHistorySelect
			img(src="/images/icons/ghandi_org.jpg", alt="Cats and boots and cats and boots")
			span.linkColor Gandhi
			| &#x9;
			.number 01
		.person
			img(src="http://placehold.it/1792x1080", class="personBigBackground" alt="Person")
			a(href="#" class="close") x
			a(href="#" class="expand") +
			.galleryContainer
				a(href="#" class="close") x
				a(href="#" class="expand") +
				.gallery
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/felix_org.jpg", alt="Cats and boots and cats and boots")
			span.linkColor Felix
			| &#x9;
			.number 02
		.person
			img(src="/images/icons/felix_cover.jpg", class="personBigBackground" alt="Person")
			a(href="#" class="close") x
			a(href="#" class="expand") +
			.galleryContainer
				a(href="#" class="close") x
				a(href="#" class="expand") +
				.gallery
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/mary_org.jpg", alt="Cats and boots and cats and boots")
			span.linkColor Mary
			| &#x9;
			.number 03
		.person
			img(src="http://placehold.it/1792x1080", class="personBigBackground" alt="Person")
			a(href="#" class="close") x
			a(href="#" class="expand") +
			.galleryContainer
				a(href="#" class="close") x
				a(href="#" class="expand") +
				.gallery
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/louis_org.jpg", alt="Cats and boots and cats and boots")
			span.linkColor Dave
			| &#x9;
			.number 04
		.person
			img(src="http://placehold.it/1792x1080", class="personBigBackground" alt="Person")
			a(href="#" class="close") x
			a(href="#" class="expand") +
			.galleryContainer
				a(href="#" class="close") x
				a(href="#" class="expand") +
				.gallery
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/ghandi_org.jpg", alt="Cats and boots and cats and boots")
			span.linkColor Gandhi
			| &#x9;
			.number 05
		.person
			img(src="http://placehold.it/1792x1080", class="personBigBackground" alt="Person")
			a(href="#" class="close") x
			a(href="#" class="expand") +
			.galleryContainer
				a(href="#" class="close") x
				a(href="#" class="expand") +
				.gallery
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		.watchHistorySelect
			img(src="https://placekitten.com/363/1080", alt="Cats and boots and cats and boots")
			span.linkColor Felix
			| &#x9;
			.number 06
		.person
			img(src="http://placehold.it/1792x1080", class="personBigBackground" alt="Person")
			a(href="#" class="close") x
			a(href="#" class="expand") +
			.galleryContainer
				a(href="#" class="close") x
				a(href="#" class="expand") +
				.gallery
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		#infoSnippet
			.back &lt;
			.forward &gt;
			.text Breaking Sound - Baumgartner gets a little help suiting up for his jump, Felix steps into the void.
			.slideCount 1/12
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="javascripts/imagesloaded.pkgd.min.js")
	script(src="javascripts/masonry.pkgd.min.js")
	script(src="/javascripts/history.js")
