extends layout

block content
	#watchHistory
		a(href="/").go-to-page
			#escape.icon-close_icon.general-ui-icon.close-button
		.watchHistorySelect
			img(src="/images/icons/ghandi_org.jpg", alt="Cats and boots and cats and boots")
			span.linkColor Gandhi
			| &#x9;
			.number 01
		.person
			img(src="http://placehold.it/1792x1080", class="personBigBackground" alt="Person")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/felix_org.jpg", alt="Cats and boots and cats and boots")
			span.linkColor Felix
			| &#x9;
			.number 02
		.person
			img(src="/images/icons/felix_cover.jpg", class="personBigBackground" alt="Person")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild
						div(style="width:542px;height:402px;background-image:url('/images/icons/felix/felix_gallery_12.png');" class="galleryImage")
					.galleryChild
						div(style="width:553px;height:402px;background-image:url('/images/icons/felix/felix_gallery_07.png');" class="galleryImage")
					.galleryChild
						div(style="width:267px;height:402px;background-image:url('/images/icons/felix/felix_gallery_06.png');" class="galleryImage")
					.galleryChild
						div(style="width:425px;height:402px;background-image:url('/images/icons/felix/felix_gallery_04.png');" class="galleryImage")
					.galleryChild
						div(style="width:712px;height:402px;background-image:url('/images/icons/felix/felix_gallery_13.png');" class="galleryImage")
						//img(src="/images/icons/felix/felix_gallery_13.png", alt="", width="712", height="402", class="galleryImage")
					.galleryChild
						div(style="width:383px;height:254px;background-image:url('/images/icons/felix/felix_gallery_08.png');" class="galleryImage")
						//img(src="/images/icons/felix/felix_gallery_08.png", alt="", width="383", height="254", class="galleryImage")
					.galleryChild
						div(style="width:383px;height:377px;background-image:url('/images/icons/felix/felix_gallery_05.png');" class="galleryImage")
						//img(src="/images/icons/felix/felix_gallery_05.png", alt="", width="383", height="377", class="galleryImage")
					.galleryChild
						div(style="width:383px;height:377px;background-image:url('/images/icons/felix/felix_gallery_14.png');" class="galleryImage")
						//img(src="/images/icons/felix/felix_gallery_14.png", alt="", width="383", height="377", class="galleryImage")
					.galleryChild
						div(style="width:383px;height:425px;background-image:url('/images/icons/felix/felix_gallery_04.png');" class="galleryImage")
						//img(src="/images/icons/felix/felix_gallery_04.png", alt="", width="383", height="425", class="galleryImage")
					.galleryChild
						div(style="width:692px;height:299px;background-image:url('/images/icons/felix/felix_gallery_11.png');" class="galleryImage")
						//img(src="/images/icons/felix/felix_gallery_11.png", alt="", width="692", height="299", class="galleryImage")
					.galleryChild
						div(style="width:453px;height:274px;background-image:url('/images/icons/felix/felix_gallery_02.png');" class="galleryImage")
						//img(src="/images/icons/felix/felix_gallery_02.png", alt="", width="453", height="274", class="galleryImage")
					.galleryChild
						div(style="width:258px;height:274px;background-image:url('/images/icons/felix/felix_gallery_10.png');" class="galleryImage")
						//img(src="/images/icons/felix/felix_gallery_10.png", alt="", width="258", height="274", class="galleryImage")

		.watchHistorySelect
			img(src="/images/icons/mary_org.jpg", alt="Cats and boots and cats and boots")
			span.linkColor Mary
			| &#x9;
			.number 03
		.person
			img(src="http://placehold.it/1792x1080", class="personBigBackground" alt="Person")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/louis_org.jpg", alt="Cats and boots and cats and boots")
			span.linkColor Dave
			| &#x9;
			.number 04
		.person
			img(src="http://placehold.it/1792x1080", class="personBigBackground" alt="Person")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/ghandi_org.jpg", alt="Cats and boots and cats and boots")
			span.linkColor Gandhi
			| &#x9;
			.number 05
		.person
			img(src="http://placehold.it/1792x1080", class="personBigBackground" alt="Person")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		.watchHistorySelect
			img(src="https://placekitten.com/363/1080", alt="Cats and boots and cats and boots")
			span.linkColor Felix
			| &#x9;
			.number 06
		.person
			img(src="http://placehold.it/1792x1080", class="personBigBackground" alt="Person")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		#infoSnippet
			.back &lt;
			.forward &gt;
			.text Breaking Sound - Baumgartner gets a little help suiting up for his jump, Felix steps into the void.
			.slideCount 1/12
	script(src="/javascripts/imagesloaded.pkgd.min.js")
	script(src="/javascripts/masonry.pkgd.min.js")
	script(src="javascripts/history.js")
