extends layout

block content
	#watchHistory
		a(href="/").go-to-page
			#escape.icon-close_icon.general-ui-icon.close-button
		.watchHistorySelect
			img(src="/images/icons/gandhi_tall.png", alt="Gandhi")
			span.linkColor Gandhi
			| &#x9;
			.number 01
		.person
			img(src="/images/icons/gandhi_cover.png", class="personBigBackground" alt="Gandhi")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/felix_org.jpg", alt="Felix")
			span.linkColor Felix
			| &#x9;
			.number 02
		.person
			img(src="/images/icons/felix_cover.png", class="personBigBackground" alt="Felix")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild(data-text="<strong>Breaking Sound</strong> - Baumgartner gets a little help suiting up for his jump, Felix steps into the void.")
						div(style="width:542px;height:402px;background-image:url('/images/icons/felix/felix_gallery_12.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:553px;height:402px;background-image:url('/images/icons/felix/felix_gallery_07.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:267px;height:402px;background-image:url('/images/icons/felix/felix_gallery_06.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:425px;height:402px;background-image:url('/images/icons/felix/felix_gallery_04.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:712px;height:402px;background-image:url('/images/icons/felix/felix_gallery_13.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:383px;height:254px;background-image:url('/images/icons/felix/felix_gallery_08.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:383px;height:377px;background-image:url('/images/icons/felix/felix_gallery_05.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:383px;height:377px;background-image:url('/images/icons/felix/felix_gallery_14.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:383px;height:425px;background-image:url('/images/icons/felix/felix_gallery_04.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:692px;height:299px;background-image:url('/images/icons/felix/felix_gallery_11.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:453px;height:274px;background-image:url('/images/icons/felix/felix_gallery_02.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:258px;height:274px;background-image:url('/images/icons/felix/felix_gallery_10.png');" class="galleryImage")

		.watchHistorySelect
			img(src="/images/icons/mary_org.jpg", alt="Alex")
			span.linkColor Alex
			| &#x9;
			.number 03
		.person
			img(src="/images/icons/alex_cover.png", class="personBigBackground" alt="Alex")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/jackie_tall.png", alt="Jackie")
			span.linkColor Jackie
			| &#x9;
			.number 04
		.person
			img(src="/images/icons/jackie_cover.png", class="personBigBackground" alt="Jackie")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:542px;height:402px;background-image:url('/images/icons/jackie/jackie_01.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:553px;height:402px;background-image:url('/images/icons/jackie/jackie_02.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:267px;height:402px;background-image:url('/images/icons/jackie/jackie_03.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:425px;height:402px;background-image:url('/images/icons/jackie/jackie_04.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:712px;height:402px;background-image:url('/images/icons/jackie/jackie_05.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:383px;height:254px;background-image:url('/images/icons/jackie/jackie_06.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:383px;height:377px;background-image:url('/images/icons/jackie/jackie_07.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:383px;height:377px;background-image:url('/images/icons/jackie/jackie_08.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:383px;height:425px;background-image:url('/images/icons/jackie/jackie_9.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:692px;height:299px;background-image:url('/images/icons/jackie/jackie_10.png');" class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/louis_tall.png", alt="Louis")
			span.linkColor Louis
			| &#x9;
			.number 05
		.person
			img(src="/images/icons/louis_cover.png", class="personBigBackground" alt="Louis")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:542px;height:402px;background-image:url('/images/icons/louis/Louis_01.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:553px;height:402px;background-image:url('/images/icons/louis/Louis_02.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:267px;height:402px;background-image:url('/images/icons/louis/Louis_03.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:425px;height:402px;background-image:url('/images/icons/louis/Louis_04.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:712px;height:402px;background-image:url('/images/icons/louis/Louis_05.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:383px;height:254px;background-image:url('/images/icons/louis/Louis_06.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:383px;height:377px;background-image:url('/images/icons/louis/Louis_07.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:383px;height:377px;background-image:url('/images/icons/louis/Louis_08.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:383px;height:425px;background-image:url('/images/icons/louis/Louis_09.png');" class="galleryImage")
					.galleryChild(data-text="Blah blah blah blah")
						div(style="width:692px;height:299px;background-image:url('/images/icons/louis/Louis_10.png');" class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/rodger_tall.png", alt="Rodger")
			span.linkColor Rodger
			| &#x9;
			.number 06
		.person
			img(src="/images/icons/rodger_cover.png", class="personBigBackground" alt="Rodger")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild.w2.h2
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild.h2
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		#infoSnippet
			.nav
				.back.icon-left_arrow.general-ui-icon
				.forward.icon-right_arrow.general-ui-icon
			.section
				.text <strong>Breaking Sound</strong> - Baumgartner gets a little help suiting up for his jump, Felix steps into the void.
			.slideCount 1/12
	script(src="/javascripts/imagesloaded.pkgd.min.js")
	script(src="/javascripts/masonry.pkgd.min.js")
	script(src="javascripts/history.js")
	script(type='text/javascript').
		<!--
		if (screen.width <= 699) {
		document.location = "mobilehistory";
		}
