extends layout

block content
	#watchHistory
		a(href="/").go-to-page
			#escape.icon-close_icon.general-ui-icon.close-button
		.watchHistorySelect
			img(src="/images/icons/gandhi_tall.png", alt="Gandhi")
			span.linkColor Gandhi
			| &#x9;
			.number 01
		.person
			img(src="/images/icons/gandhi_cover.png", class="personBigBackground" alt="Gandhi")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/felix_org.jpg", alt="Felix")
			span.linkColor Felix
			| &#x9;
			.number 02
		.person
			img(src="/images/icons/felix_cover.png", class="personBigBackground" alt="Felix")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild(data-text="<strong>Calming Wait</strong> - Felix in his pressure suit, minutes before launching the first flight of the Red Bull Stratos mission on March 15, 2012. Img: Red Bull Stratos")
						div(style="width:542px;height:402px;background-image:url('/images/icons/felix/felix_gallery_12.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Facet & Felix</strong> - Partner to one of the greatest human adventures, the brand with the guiding star was also the exclusive timekeeper for this exceptional challenge: the Red Bull Stratos mission. Img: Joerg Mitter")
						div(style="width:553px;height:402px;background-image:url('/images/icons/felix/felix_gallery_07.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Mission Control</strong> - Inside Mission Control during the final flight for the Red Bull Stratos Mission in Roswell, New Mexico, USA. Img: Red Bull Stratos")
						div(style="width:267px;height:402px;background-image:url('/images/icons/felix/felix_gallery_06.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Communication Planning</strong> - Felix Baumgartner works through communication and planning with the team during egress training in Lancaster, California. Img: Red Bull Stratos")
						div(style="width:425px;height:402px;background-image:url('/images/icons/felix/felix_gallery_04.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Wait to Launch</strong> - Felix Baumgartner comes out of the capsule after the space jump was called off on Oct. 9, 2012, in New Mexico. Img: Red Bull Stratos")
						div(style="width:712px;height:402px;background-image:url('/images/icons/felix/felix_gallery_13.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Back to Ground</strong> - Pilot Felix Baumgartner celebrates his successful landing of the first manned test flight and jump for the Red Bull Stratos mission. Img: Red Bull Stratos")
						div(style="width:383px;height:254px;background-image:url('/images/icons/felix/felix_gallery_08.png');" class="galleryImage")
					.galleryChild(data-text="<strong>The Drop</strong> - Skydiver Felix Baumgartner makes the highest skydive ever Oct. 14, 2012. He jumped from 128,000 feet (39,000 meters). Img: Red Bull Stratos")
						div(style="width:383px;height:377px;background-image:url('/images/icons/felix/felix_gallery_05.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Capsule Prep</strong> - Pilot Felix Baumgartner of Austria sits in his capsule and prepares for the pre-breathing procedure during the preparations. Img: Joerg Mitter")
						div(style="width:383px;height:377px;background-image:url('/images/icons/felix/felix_gallery_14.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Communication Planning</strong> - Felix Baumgartner works through communication and planning with the team during egress training in Lancaster, California. Img: Red Bull Stratos")
						div(style="width:383px;height:425px;background-image:url('/images/icons/felix/felix_gallery_04.png');" class="galleryImage")
					.galleryChild(data-text="<strong>The Last Step</strong> - Felix Baumgartner jumps out of his capsule during the final manned flight for the Red Bull Stratos in Roswell, New Mexico, USA. Img: Jay Nemth")
						div(style="width:692px;height:299px;background-image:url('/images/icons/felix/felix_gallery_11.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Breaking Sound</strong> - Tracking camera captures the moment when Felix Baumgartner passes the sound barrier, creating the iconic sonic boom, usually only found on high speed jets. Img: Red Bull Stratos")
						div(style="width:453px;height:274px;background-image:url('/images/icons/felix/felix_gallery_02.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Sailing the Sky</strong> - Felix Baumgartner parachutes in after a test jump in Taft, California. Img: Red Bull Stratos")
						div(style="width:258px;height:274px;background-image:url('/images/icons/felix/felix_gallery_10.png');" class="galleryImage")

		.watchHistorySelect
			img(src="/images/icons/mary_org.jpg", alt="Alex")
			span.linkColor Alex
			| &#x9;
			.number 03
		.person
			img(src="/images/icons/alex_cover.png", class="personBigBackground" alt="Alex")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/jackie_tall.png", alt="Jackie")
			span.linkColor Jackie
			| &#x9;
			.number 04
		.person
			img(src="/images/icons/jackie_cover.png", class="personBigBackground" alt="Jackie")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild(data-text="<strong>Introduction</strong> - Racing legend Jackie Stewart has been wearing his brand watch on his wrist for 47 years, having purchased his first Facet watch after having raced in the Indianapolis 500 in 1966")
						div(style="width:542px;height:402px;background-image:url('/images/icons/jackie/jackie_01.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Early Beginnings</strong> - Racing down the checkered flag in the Indianapolis 500 in 1996, after wards buying his first Facet watch  this cold day marks the start of the partnership between Facet and Racer Jackie Stewart. Img: Facet")
						div(style="width:553px;height:402px;background-image:url('/images/icons/jackie/jackie_02.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Sharing Gifts</strong> - Jackie Stewart is pictured below in 1991 when not racing himself Jackie Stewart he pursued a successful career in building his own racing team giving on occasion watches as gifts. Img: Facet")
						div(style="width:267px;height:402px;background-image:url('/images/icons/jackie/jackie_03.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Making Headlines</strong> - Over his decade long career in racing and with facet, many promotional pieces can be found across newspapers and high end magazines alike.")
						div(style="width:425px;height:402px;background-image:url('/images/icons/jackie/jackie_04.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Raceway Talks</strong> - Jackie Stewart pictured with fellow racer Graham Hill during the Belgian Grand Prix weekend on June 12, 1966. Img: Micheal Kit")
						div(style="width:712px;height:402px;background-image:url('/images/icons/jackie/jackie_05.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Speed is Nature</strong> - Over his career Jackie Stewart gained the nickname of The Flying Scotsman and you see from the photo above why this was such a fitting nickname for the man.")
						div(style="width:383px;height:254px;background-image:url('/images/icons/jackie/jackie_06.png');" class="galleryImage")
					.galleryChild(data-text="<strong>A Staunch Support</strong> - Both in public and private events Jackie was a staunch friend of facet and would have his watch out at events here with fellow race-car driver and Facet Daytona wearer, Paul Newman at Riverside Raceway in California")
						div(style="width:383px;height:377px;background-image:url('/images/icons/jackie/jackie_07.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Family Ties</strong> - Jackie Stewart with his wife Helen Stewart married in 1962, and they remain happily married to this day. Img: Gabriel Nicks")
						div(style="width:383px;height:377px;background-image:url('/images/icons/jackie/jackie_08.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Raceway Safety</strong> - Before any race Jackie would meticulous check for safety concerns later being renowned as a leading advocate of improved safety standards, campaigning relentlessly during his career. Img: News Limited")
						div(style="width:383px;height:425px;background-image:url('/images/icons/jackie/jackie_9.png');" class="galleryImage")
					.galleryChild(data-text="<strong>2015 Support</strong> - From his early career in 1962 Jackie Stewart is the longest running Facet Ambassador and he has enjoyed an amazing career–with Facet side by side. Img: Facet")
						div(style="width:692px;height:299px;background-image:url('/images/icons/jackie/jackie_10.png');" class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/louis_tall.png", alt="Louis")
			span.linkColor Louis
			| &#x9;
			.number 05
		.person
			img(src="/images/icons/louis_cover.png", class="personBigBackground" alt="Louis")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild(data-text="<strong>Introductions</strong> - Born 1872 in the northeastern town of Cambrai, France. Louis was a French aviator, inventor and engineer. He developed the first practical headlamp for trucks and built the 1st successful aircraft to cross the channel")
						div(style="width:542px;height:402px;background-image:url('/images/icons/louis/Louis_01.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Inspiration for Precision</strong> - An engineer at a young age, over 30 years Louis built over 15 variations of his famous aircraft. This dedication harmonizes with our principles of dedication and determination.")
						div(style="width:553px;height:402px;background-image:url('/images/icons/louis/Louis_02.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Learning from History</strong> - Working with Louis Bleriot our brand grew from just a simple watch company to one that honors and strives for precision and the people who require it on a daily or unique basis. Img: Facet")
						div(style="width:267px;height:402px;background-image:url('/images/icons/louis/Louis_03.png');" class="galleryImage")
					.galleryChild(data-text="<strong>A Flight of Fancy</strong> - One of the early test flights of the Blériot XI in early 1909, over the next year this would go through many variations of design and implementation of our instruments.")
						div(style="width:425px;height:402px;background-image:url('/images/icons/louis/Louis_04.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Prep for Takeoff</strong> - Louis Bleriot in his aircraft, the Blériot XI, just before takeoff for his cross-channel flight to London from Calais, France to Dover, England., 25 July 1909.")
						div(style="width:712px;height:402px;background-image:url('/images/icons/louis/Louis_05.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Crossing the Channel</strong> - Highlighting the event many illustrations and pieces were done to promote the achievement of both Louis and supporting groups like ours. Img: Facet")
						div(style="width:383px;height:254px;background-image:url('/images/icons/louis/Louis_06.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Precision Design</strong> - For such a difficult task besides having a customized watch with a unique altimeter function, the Blériot XI also was outfitted with various aeronautical instruments")
						div(style="width:383px;height:377px;background-image:url('/images/icons/louis/Louis_07.png');" class="galleryImage")
					.galleryChild(data-text="<strong>London Arrival</strong>")
						div(style="width:383px;height:377px;background-image:url('/images/icons/louis/Louis_08.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Modern Flight</strong> - A modern restoration of Louis Bleriot’s original design it’s first flight was in 1991 and has flown annually since, even crossing the channel in 1999. 90 years after Louis, watch included. Img: aerodrome.se")
						div(style="width:383px;height:425px;background-image:url('/images/icons/louis/Louis_09.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Continual Inspiration: Over the years This classic single-engine aircraft typical of the early days of aviation took part in the 2014 AIR14 airshow in Payerne, Switzerland on September 6th 2014. Img: Facet</strong>")
						div(style="width:692px;height:299px;background-image:url('/images/icons/louis/Louis_10.png');" class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/rodger_tall.png", alt="Rodger")
			span.linkColor Rodger
			| &#x9;
			.number 06
		.person
			img(src="/images/icons/rodger_cover.png", class="personBigBackground" alt="Rodger")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild
						img(src="http://placehold.it/648x430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
					.galleryChild
						img(src="http://rdjpg.com/648/430", alt="", width="648", height="430", class="galleryImage")
					.galleryChild
						img(src="http://rdjpg.com/324/430", alt="", width="324", height="430", class="galleryImage")
		#infoSnippet
			.nav
				.back.icon-left_arrow.general-ui-icon
				.forward.icon-right_arrow.general-ui-icon
			.section
				.text <strong>Breaking Sound</strong> - Baumgartner gets a little help suiting up for his jump, Felix steps into the void.
			.slideCount 1/12
	script(src="/javascripts/imagesloaded.pkgd.min.js")
	script(src="/javascripts/masonry.pkgd.min.js")
	script(src="javascripts/history.js")
	script(type='text/javascript').
		<!--
		if (screen.width <= 699) {
		document.location = "mobilehistory";
		}
