extends layout

block content
	#watchHistory
		.watchHistorySelect
			img(src="/images/icons/gandhi_tall.png", alt="Gandhi")
			span.linkColor Gandhi
			| &#x9;
			.number 01
		.person
			img(src="/images/icons/gandhi_cover.png", class="personBigBackground" alt="Gandhi")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild(data-text="<strong>Punctuality in work & life</strong> - When asked about his watch, his favorite part was the delicate and simple alarm button at the top to keep track of appointment, prayers, and his daily sewing practice.")
						div(style="width:960px;height:1080px;background-image:url('/images/icons/gandhi/Gandhi_01.png');" class="galleryImage")
					.galleryChild(data-text="<strong>A Gift</strong> - A gift from Indira Nehru, who was to serve as Prime Minister of India 1966 to 1977, gave a Facet watch to her friend Mahatma Gandhi. This pocket-watch became one of his rare material goods.")
						div(style="width:830px;height:400px;background-image:url('/images/icons/gandhi/Gandhi_03.png');" class="galleryImage")
					.galleryChild(data-text="<strong>The watch</strong> - A closer view of the Facet watch given to him, even after more than a century of use and care it is still counting the day’s seconds in it’s exhibit back in Porbandar, India. <span>Img: Facet</span>")
						div(style="width:830px;height:680px;background-image:url('/images/icons/gandhi/Gandhi_02.png');" class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/felix_org.jpg", alt="Felix")
			span.linkColor Felix
			| &#x9;
			.number 02
		.person
			img(src="/images/icons/felix_cover.png", class="personBigBackground" alt="Felix")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild(data-text="<strong>Calming Wait</strong> - Felix in his pressure suit, minutes before launching the first flight of the Red Bull Stratos mission on March 15, 2012. <span>Img: Red Bull Stratos</span>")
						div(style="width:542px;height:402px;background-image:url('/images/icons/felix/felix_gallery_12.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Facet & Felix</strong> - Partner to one of the greatest human adventures, the brand with the guiding star was also the exclusive timekeeper for this exceptional challenge: the Red Bull Stratos mission. <span>Img: Joerg Mitter</span>")
						div(style="width:553px;height:402px;background-image:url('/images/icons/felix/felix_gallery_07.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Mission Control</strong> - Inside Mission Control during the final flight for the Red Bull Stratos Mission in Roswell, New Mexico, USA. <span>Img: Red Bull Stratos</span>")
						div(style="width:267px;height:402px;background-image:url('/images/icons/felix/felix_gallery_06.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Communication Planning</strong> - Felix Baumgartner works through communication and planning with the team during egress training in Lancaster, California. <span>Img: Red Bull Stratos</span>")
						div(style="width:425px;height:402px;background-image:url('/images/icons/felix/felix_gallery_04.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Wait to Launch</strong> - Felix Baumgartner comes out of the capsule after the space jump was called off on Oct. 9, 2012, in New Mexico. <span>Img: Red Bull Stratos</span>")
						div(style="width:712px;height:402px;background-image:url('/images/icons/felix/felix_gallery_13.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Back to Ground</strong> - Pilot Felix Baumgartner celebrates his successful landing of the first manned test flight and jump for the Red Bull Stratos mission. <span>Img: Red Bull Stratos</span>")
						div(style="width:383px;height:254px;background-image:url('/images/icons/felix/felix_gallery_08.png');" class="galleryImage")
					.galleryChild(data-text="<strong>The Drop</strong> - Skydiver Felix Baumgartner makes the highest skydive ever Oct. 14, 2012. He jumped from 128,000 feet (39,000 meters). <span>Img: Red Bull Stratos</span>")
						div(style="width:383px;height:377px;background-image:url('/images/icons/felix/felix_gallery_05.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Capsule Prep</strong> - Pilot Felix Baumgartner of Austria sits in his capsule and prepares for the pre-breathing procedure during the preparations. <span>Img: Joerg Mitter</span>")
						div(style="width:383px;height:377px;background-image:url('/images/icons/felix/felix_gallery_14.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Communication Planning</strong> - Felix Baumgartner works through communication and planning with the team during egress training in Lancaster, California. <span>Img: Red Bull Stratos</span>")
						div(style="width:383px;height:425px;background-image:url('/images/icons/felix/felix_gallery_04.png');" class="galleryImage")
					.galleryChild(data-text="<strong>The Last Step</strong> - Felix Baumgartner jumps out of his capsule during the final manned flight for the Red Bull Stratos in Roswell, New Mexico, USA. <span>Img: Jay Nemth</span>")
						div(style="width:692px;height:299px;background-image:url('/images/icons/felix/felix_gallery_11.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Breaking Sound</strong> - Tracking camera captures the moment when Felix Baumgartner passes the sound barrier, creating the iconic sonic boom, usually only found on high speed jets. <span>Img: Red Bull Stratos</span>")
						div(style="width:453px;height:274px;background-image:url('/images/icons/felix/felix_gallery_02.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Sailing the Sky</strong> - Felix Baumgartner parachutes in after a test jump in Taft, California. <span>Img: Red Bull Stratos</span>")
						div(style="width:258px;height:274px;background-image:url('/images/icons/felix/felix_gallery_10.png');" class="galleryImage")

		.watchHistorySelect
			img(src="/images/icons/mary_org.jpg", alt="Alex")
			span.linkColor Alex
			| &#x9;
			.number 03
		.person
			img(src="/images/icons/alex_cover.png", class="personBigBackground" alt="Alex")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild(data-text="<strong>Introduction</strong> - One of our premier watchsmiths at our brand, with an expertise in haute horlogerie (fine watchmaking) many of our grand achievement such as the El Primero’s evelution come from her.")
						div(style="width:542px;height:402px;background-image:url('/images/icons/alex/alex_01.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Early Attempts and Early Lessons</strong> - Showing off one of her early attempts of watch repair and construction, a foundation of Facet is our precision and detail, A principle practiced many times over. ")
						div(style="width:553px;height:402px;background-image:url('/images/icons/alex/alex_02.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Mechanical Precision</strong> - Showing off one of the many tools required for the creation of our El Primero watches, here we see the measurements taken for the small pins holding the movement.")
						div(style="width:267px;height:402px;background-image:url('/images/icons/alex/alex_03.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Learning from the Predecessors of Facet</strong> - An early teacher to Alex amongst many others, principal designer, and smith. Charles Vermont’s dedication to protecting our designs and drawings has held deeply to Alex.")
						div(style="width:425px;height:402px;background-image:url('/images/icons/alex/alex_04.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Design Revelations</strong> - Launch of the ultra-thin automatic Elite movement and watches. The first Facet caliber to be developed using Computer Assisted Design technology.")
						div(style="width:712px;height:676px;background-image:url('/images/icons/alex/alex_05.png');" class="galleryImage")
					.galleryChild(data-text="<strong>A Prized Design</strong> - One of the first major success for Alex, Winning multiple awards over it’s first year in public the El Primero anniversary watch embraces both past and current design technologies melded together.")
						div(style="width:383px;height:254px;background-image:url('/images/icons/alex/alex_06.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Simple Look, Deep Design</strong> - Showing off some of the components found in the El Primero anniversary watch, while the outside appears very simple. The internal components number well into the 300s taking weeks to assemble.")
						div(style="width:383px;height:377px;background-image:url('/images/icons/alex/alex_07.png');" class="galleryImage")
					.galleryChild(data-text="<strong>The Workspace</strong> - Taking a behind the scenes look at the Facet brand here at Alex’s station we see some of the many precision tools required to assemble even one of our exclusive watches.")
						div(style="width:383px;height:377px;background-image:url('/images/icons/alex/alex_08.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Recent Designs</strong> - One of the most recent designs completed by Alex and the zenith brand in commemoration of Pilot Felix Baumgartner’s drop from space. It has gained much recognition in the last year.")
						div(style="width:383px;height:425px;background-image:url('/images/icons/alex/alex_09.png');" class="galleryImage")
					.galleryChild(data-text="<strong>A New Movement Moving</strong> - Showing off some of the early sketches to a possible new collection, as with any project the first and most important is simple sketch at the table. <span>Img: FacetBlog</span>")
						div(style="width:692px;height:299px;background-image:url('/images/icons/alex/alex_10.png');" class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/jackie_tall.png", alt="Jackie")
			span.linkColor Jackie
			| &#x9;
			.number 04
		.person
			img(src="/images/icons/jackie_cover.png", class="personBigBackground" alt="Jackie")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild(data-text="<strong>Introduction</strong> - Racing legend Jackie Stewart has been wearing his brand watch on his wrist for 47 years, having purchased his first Facet watch after having raced in the Indianapolis 500 in 1966")
						div(style="width:542px;height:402px;background-image:url('/images/icons/jackie/jackie_01.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Early Beginnings</strong> - Racing down the checkered flag in the Indianapolis 500 in 1996, after wards buying his first Facet watch  this cold day marks the start of the partnership between Facet and Racer Jackie Stewart. <span>Img: Facet</span>")
						div(style="width:553px;height:402px;background-image:url('/images/icons/jackie/jackie_02.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Sharing Gifts</strong> - Jackie Stewart is pictured below in 1991 when not racing himself Jackie Stewart he pursued a successful career in building his own racing team giving on occasion watches as gifts. <span>Img: Facet</span>")
						div(style="width:267px;height:402px;background-image:url('/images/icons/jackie/jackie_03.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Making Headlines</strong> - Over his decade long career in racing and with facet, many promotional pieces can be found across newspapers and high end magazines alike.")
						div(style="width:425px;height:402px;background-image:url('/images/icons/jackie/jackie_04.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Raceway Talks</strong> - Jackie Stewart pictured with fellow racer Graham Hill during the Belgian Grand Prix weekend on June 12, 1966. <span>Img: Micheal Kit</span>")
						div(style="width:712px;height:676px;background-image:url('/images/icons/jackie/jackie_05.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Speed is Nature</strong> - Over his career Jackie Stewart gained the nickname of The Flying Scotsman and you see from the photo above why this was such a fitting nickname for the man.")
						div(style="width:383px;height:254px;background-image:url('/images/icons/jackie/jackie_06.png');" class="galleryImage")
					.galleryChild(data-text="<strong>A Staunch Support</strong> - Both in public and private events Jackie was a staunch friend of facet and would have his watch out at events here with fellow race-car driver and Facet Daytona wearer, Paul Newman at Riverside Raceway in California")
						div(style="width:383px;height:377px;background-image:url('/images/icons/jackie/jackie_07.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Family Ties</strong> - Jackie Stewart with his wife Helen Stewart married in 1962, and they remain happily married to this day. <span>Img: Gabriel Nicks</span>")
						div(style="width:383px;height:377px;background-image:url('/images/icons/jackie/jackie_08.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Raceway Safety</strong> - Before any race Jackie would meticulous check for safety concerns later being renowned as a leading advocate of improved safety standards, campaigning relentlessly during his career. <span>Img: News Limited</span>")
						div(style="width:383px;height:425px;background-image:url('/images/icons/jackie/jackie_9.png');" class="galleryImage")
					.galleryChild(data-text="<strong>2015 Support</strong> - From his early career in 1962 Jackie Stewart is the longest running Facet Ambassador and he has enjoyed an amazing career–with Facet side by side. <span>Img: Facet</span>")
						div(style="width:692px;height:299px;background-image:url('/images/icons/jackie/jackie_10.png');" class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/louis_tall.png", alt="Louis")
			span.linkColor Louis
			| &#x9;
			.number 05
		.person
			img(src="/images/icons/louis_cover.png", class="personBigBackground" alt="Louis")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild(data-text="<strong>Introductions</strong> - Born 1872 in the northeastern town of Cambrai, France. Louis was a French aviator, inventor and engineer. He developed the first practical headlamp for trucks and built the 1st successful aircraft to cross the channel")
						div(style="width:542px;height:402px;background-image:url('/images/icons/louis/Louis_01.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Inspiration for Precision</strong> - An engineer at a young age, over 30 years Louis built over 15 variations of his famous aircraft. This dedication harmonizes with our principles of dedication and determination.")
						div(style="width:553px;height:402px;background-image:url('/images/icons/louis/Louis_02.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Learning from History</strong> - Working with Louis Bleriot our brand grew from just a simple watch company to one that honors and strives for precision and the people who require it on a daily or unique basis. <span>Img: Facet</span>")
						div(style="width:267px;height:402px;background-image:url('/images/icons/louis/Louis_03.png');" class="galleryImage")
					.galleryChild(data-text="<strong>A Flight of Fancy</strong> - One of the early test flights of the Blériot XI in early 1909, over the next year this would go through many variations of design and implementation of our instruments.")
						div(style="width:425px;height:402px;background-image:url('/images/icons/louis/Louis_04.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Prep for Takeoff</strong> - Louis Bleriot in his aircraft, the Blériot XI, just before takeoff for his cross-channel flight to London from Calais, France to Dover, England., 25 July 1909.")
						div(style="width:712px;height:676px;background-image:url('/images/icons/louis/Louis_05.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Crossing the Channel</strong> - Highlighting the event many illustrations and pieces were done to promote the achievement of both Louis and supporting groups like ours. <span>Img: Facet</span>")
						div(style="width:383px;height:254px;background-image:url('/images/icons/louis/Louis_06.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Precision Design</strong> - For such a difficult task besides having a customized watch with a unique altimeter function, the Blériot XI also was outfitted with various aeronautical instruments")
						div(style="width:383px;height:377px;background-image:url('/images/icons/louis/Louis_07.png');" class="galleryImage")
					.galleryChild(data-text="<strong>London Arrival</strong>")
						div(style="width:383px;height:377px;background-image:url('/images/icons/louis/Louis_08.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Modern Flight</strong> - A modern restoration of Louis Bleriot’s original design it’s first flight was in 1991 and has flown annually since, even crossing the channel in 1999. 90 years after Louis, watch included. <span>Img: aerodrome.se</span>")
						div(style="width:383px;height:425px;background-image:url('/images/icons/louis/Louis_09.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Continual Inspiration</strong> - Over the years This classic single-engine aircraft typical of the early days of aviation took part in the 2014 AIR14 airshow in Payerne, Switzerland on September 6th 2014. <span>Img: Facet</span>")
						div(style="width:692px;height:299px;background-image:url('/images/icons/louis/Louis_10.png');" class="galleryImage")
		.watchHistorySelect
			img(src="/images/icons/rodger_tall.png", alt="Rodger")
			span.linkColor Rodger
			| &#x9;
			.number 06
		.person
			img(src="/images/icons/rodger_cover.png", class="personBigBackground" alt="Rodger")
			a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
			a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
			.galleryContainer
				a(href="#" class="close").icon-close_icon.general-ui-icon.close-button
				a(href="#" class="expand").icon-add_icon.general-ui-icon.add-button
				.gallery
					.galleryChild(data-text="<strong>Champion Design</strong> - Roger Federer wearing his Rose Gold facet watch and tournament trophy after winning the 2012 Wimbledon title against Andy Murray. <span>Img: Crown & Caliber</span>")
						div(style="width:542px;height:402px;background-image:url('/images/icons/rodger/roger_01.png');" class="galleryImage")
					.galleryChild(data-text="<strong>On & Off the Court</strong> - A fan of the sleek and simple, and durable quality of brand, Roger would wear one interview post matches and on occasion during under his sweat bands.")
						div(style="width:553px;height:402px;background-image:url('/images/icons/rodger/roger_02.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Beginnings</strong> - A partnership started in early 2003, born from a mutual appreciation for each others dedication and skill. Over the years this partnership has grown into a strong friendship extending far outside of work.")
						div(style="width:267px;height:402px;background-image:url('/images/icons/rodger/roger_03.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Personal Set</strong> - Showing off some of his favorite facet watches in a private interview: the El Primero Chronomaster, El Primero Original 1969, and El Primero SPORT. <span>Photo: World of Facet</span>")
						div(style="width:425px;height:402px;background-image:url('/images/icons/rodger/roger_04.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Personal Passion</strong> - A true fan of the brand, here in June 2013 Roger Federer visited our production facility learning on hand the craftsmanship and detail found in every one of our watches. <span>Img: Crown & Caliber</span>")
						div(style="width:712px;height:676px;background-image:url('/images/icons/rodger/roger_05.png');" class="galleryImage")
					.galleryChild(data-text="<strong>A Facet Moment</strong> - Roger Federer wearing his 41mm stainless steel Facet watch after winning his record 15th grand slam title in the 2009 Wimbledon <span>Img: FacetBlog</span>")
						div(style="width:383px;height:254px;background-image:url('/images/icons/rodger/roger_06.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Match Moment</strong> - Roger Federer serves the set win shoot to Novak Djokovic of Serbia during the finals of the Dubai Duty Free Tennis Championships in Dubai, United Arab Emirates Feb. 28, 2015. <span>Img: AP Kamran Jebreili</span>")
						div(style="width:383px;height:377px;background-image:url('/images/icons/rodger/roger_07.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Monte-Carlo Masters</strong> - Last October, Roger Federer ticked to compete in the Monte-Carlo Masters, With seven of the nine prestigious events conquered, however unsuccessful in the final match. <span>Img: ATP</span>")
						div(style="width:383px;height:377px;background-image:url('/images/icons/rodger/roger_08.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Ad Roger</strong> - If a picture tells a thousand words, unrivaled would be the one to best summarize the abilities of Roger Federer and the detail, precision and dedication found in our brand of Facet watches. <span>Img: NY Times</span>")
						div(style="width:383px;height:425px;background-image:url('/images/icons/rodger/roger_09.png');" class="galleryImage")
					.galleryChild(data-text="<strong>Play to win</strong> - In the Final match Federer plays a winning forehand shoot against Tsonga, whom he beat by two sets to one to be crowned champion in the ATP World Tour Finals 2012.")
						div(style="width:692px;height:299px;background-image:url('/images/icons/rodger/roger_10.png');" class="galleryImage")
		#infoSnippet
			.nav
				.back.icon-left_arrow.general-ui-icon
				.forward.icon-right_arrow.general-ui-icon
			.section
				.text <strong>Breaking Sound</strong> - Baumgartner gets a little help suiting up for his jump, Felix steps into the void.
			.slideCount 1/12
	#backURL(data-url="/")
	#navColor(data-color="white")
	script(src="/javascripts/imagesloaded.pkgd.min.js")
	script(src="/javascripts/masonry.pkgd.min.js")
	script(src="javascripts/history.js")
	script(type='text/javascript').
		<!--
		if (screen.width <= 699) {
		document.location = "mobilehistory";
		}
