extends layout

block content
	div(id="homePage")
		p(id="currentDevice") There is no device currently connected.
		div(id="container")
			div(class="item")
				h1 The Academy
				h3 View All
			div(class="item")
				h1 Ghandi Goes to India
				h3 Facet History
			div(class="item wide")
				img(src="/images/bigwatch1.jpg" alt="Gold all in my watch")
			div(class="item wide")
				img(src="/images/bigwatch2.jpg" alt="Gold all in my watch")
			div(class="item tall")
				h1 Big callout area
				h3 The 1969 Auto Edition
			div(class="item tall")
				h1 Big callout area
				h3 The 1969 Auto Edition
			div(class="item")
				h2 Zenith is glad to announce the official launch of the twitter UK store for the brand new blah &hellip;
			div(class="item wide")
				img(src="/images/bigwatch3.jpg" alt="Gold all in my watch")
				h1 Big callout area
				h3 The 1969 Auto Edition
			div(class="item wide")
				img(src="/images/bigwatch4.jpg" alt="Gold all in my watch")
			div(class="item")
				h2 Zenith is glad to announce the official launch of the twitter UK store for the brand new blah &hellip;
			div(class="item wide")
				h1 Big callout area
				h3 The 1969 Auto Edition
			div(class="item")
				h1(class="top") The Academy
				h3(class="top") View All
			div(class="item")
				h2 Zenith is glad to announce the official launch of the twitter UK store for the brand new blah &hellip;
			div(class="item")
				h1 The Academy
				h3 View All
	script(src="javascripts/masonry.pkgd.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="javascripts/main.js")
