extends layout

block content
	h1= title
	p(id="currentDevice") There is no device currently connected.
	img(src="images/facet.png" alt="Facet" id="logo")
	div(id="container")
		div(class="item")
		div(class="item")
		div(class="item wide")
		div(class="item wide")
		div(class="item tall")
		div(class="item tall")
		div(class="item")
			h2 Zenith is glad to announce the official launch of the Twitter UK &hellip;
		div(class="item wide")
			h1 The Academy
			span Smaller piece of data
		div(class="item wide")
		div(class="item")
		div(class="item wide")
		div(class="item")
		div(class="item")
		div(class="item")
	script(src="javascripts/masonry.pkgd.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="javascripts/main.js")
