extends layout

block content
	div(id="homePage")
		div(id="container")
			a(href="/product")
				div(class="item")
					img(src="/images/Felix.png" alt="Gold all in my watch")
					h1 The Academy
					h3 View All
			a(href="/history")
				div(class="item")
					img(src="/images/Gandi.png" alt="Gold all in my watch")
					h1 Ghandi Goes to India
					h3 Facet History
			div(class="item wide")
				img(src="/images/bigwatch1.jpg" alt="Gold all in my watch")
			div(class="item wide")
				img(src="/images/bigwatch2.jpg" alt="Gold all in my watch")
			a(href="/timeselection")
				div(class="item wide")
					img(src="/images/bigwatch3.jpg" alt="Gold all in my watch")
					h1 Big callout area
					h3 The 1969 Auto Edition
			a(href="/watchselection")
				div(class="item wide")
					img(src="/images/bigwatch3.jpg" alt="Gold all in my watch")
					h1 Big callout area
					h3 The 1969 Auto Edition
			a(href="/social")
				div(class="item")
					h2 Facet is glad to announce the official launch of the twitter UK store for the brand new blah &hellip;
			a(href="/timeselection")
				div(class="item wide")
					img(src="/images/bigwatch3.jpg" alt="Gold all in my watch")
					h1 Big callout area
					h3 The 1969 Auto Edition
			div(class="item wide")
				img(src="/images/bigwatch4.jpg" alt="Gold all in my watch")
			a(href="/social")
				div(class="item")
					h2 Facet is glad to announce the official launch of the twitter UK store for the brand new blah &hellip;
			div(class="item wide")
				img(src="/images/Watch image_2.png" alt="Gold all in my watch")
				h1 Big callout area
				h3 The 1969 Auto Edition
			div(class="item")
				img(src="/images/internal ad.png" alt="Gold all in my watch")
				h1(class="top") The Academy
				h3(class="top") View All
			div(class="item")
				h2 Facet is glad to announce the official launch of the twitter UK store for the brand new blah &hellip;
			div(class="item")
				img(src="/images/Felix.png" alt="Gold all in my watch")
				h1 The Academy
				h3 View All
	script(src="/javascripts/imagesloaded.pkgd.min.js")
	script(src="/javascripts/masonry.pkgd.min.js")
	script(src="javascripts/main.js")
