<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="../public/stylesheets/mobile.css">
<title>Facet Mobile</title>
</head>
 <body>
	<a href='/mobileindex'><div id="nav">Facet Watches</div></a>
	<div id="timeline">
	<div id="model">
	<img src="../public/images/timeline/2009_BTL.png" />
	</div>
	<div class="title">#{specs.longhand}</div>
	<h1 class="position">#{specs.year}</h1>
	<div id="desc">#{specs.blurb}</div>
	<div id="categories">
      <div id="menu" class="menusection">
        <div id="watchesm" class="category"><span class="icon-watches_off general-ui-icon icon"></span>
          <div class="ctitle">WATCHES</div>&#x9;&#x9;
        </div>
        <div id="technologym" class="category"><span class="icon-technology_off general-ui-icon icon"></span>
          <div class="ctitle">
            TECHNOLOGY
            &#x9;&#x9;
          </div>
        </div>
        <div id="eventm" class="category"><span class="icon-event_off general-ui-icon icon"></span>
          <div class="ctitle">
            EVENT
            &#x9;&#x9;
          </div>
        </div>
        <div id="iconm" class="category"><span class="icon-icon_off general-ui-icon icon"></span>
          <div class="ctitle">
            ICON
            &#x9;&#x9;
          </div>
        </div>
        <div id="historym" class="category"><span class="icon-history_off general-ui-icon icon"></span>
          <div class="ctitle">
            HISTORY
            &#x9;&#x9;
          </div>
        </div>
        <div id="achievementsm" class="category"><span class="icon-buy_off general-ui-icon icon"></span>
          <div class="ctitle">ACHIEVEMENTS</div>
        </div>
      </div>
      <div id="watches" class="menusection">
        <div class="back"><img src="../images/arrow.svg"/></div>
        <h2>Watches</h2>
        <h4>#{specs.watches}</h4>
      </div>
      <div id="technology" class="menusection">
        <div class="back"><</div>
        <h2>Technology</h2>
        <h4>#{specs.technology}</h4>
      </div>
      <div id="event" class="menusection">
        <div class="back"></div>
        <h2>Event</h2>
        <h4>#{specs.event}</h4>
      </div>
      <div id="icon" class="menusection">
        <div class="back"><</div>
        <h2>Icon</h2>
        <h4>#{specs.icon}</h4>
      </div>
      <div id="history" class="menusection">
        <div class="back"><</div>
        <h2>History</h2>
        <h4>#{specs.history}</h4>
      </div>
      <div id="achievements" class="menusection">
        <div class="back"><</div>
        <h2>Achievements</h2>
        <h4>#{specs.achievements}</h4>
      </div>
    </div>
	</div>
	
	
</body>
<script src="../public/javascripts/timeline.js"></script>
</html>



