<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="../public/stylesheets/mobile.css">
<title>Facet Mobile</title>
</head>
 <body>
	<a href='/mobileindex'><div id="nav">Facet Watches</div></a>
	<div id="content">
	<input id="slide-01" type="radio" name="imgnav" checked=>
            <fieldset id="slide-content-01">
                <input id="legend-01" type="checkbox" />
            </fieldset>
			<input id="slide-02" type="radio" name="imgnav">
            <fieldset id="slide-content-02">
                <input id="legend-02" type="checkbox" />
            </fieldset>
			<input id="slide-03" type="radio" name="imgnav">
            <fieldset id="slide-content-03">
                <input id="legend-03" type="checkbox" />
            </fieldset>
            <input id="slide-04" type="radio" name="imgnav">
            <fieldset id="slide-content-04">
                <input id="legend-04" type="checkbox" />
            </fieldset>
            <input id="slide-05" type="radio" name="imgnav">
            <fieldset id="slide-content-05">
                <input id="legend-05" type="checkbox" />
			</fieldset>	
			 <input id="slide-05" type="radio" name="imgnav">
            <fieldset id="slide-content-05">
                <input id="legend-05" type="checkbox" />
            </fieldset>	
			<input id="slide-06" type="radio" name="imgnav">
            <fieldset id="slide-content-05">
                <input id="legend-06" type="checkbox" />
            </fieldset>	
		</div>
		 <imgnav>
            <label id="label-01" for="slide-01"></label>
            <label id="label-02" for="slide-02"></label>
            <label id="label-03" for="slide-03"></label>
            <label id="label-04" for="slide-04"></label>
            <label id="label-05" for="slide-05"></label>
			<label id="label-06" for="slide-06"></label>
        </imgnav>
</body>
</html>



