extends layout

block content
	#homePage
		.tileContainer
			a(href="/history").go-to-page
				div(class="item")
					img(src="/images/Felix.png" alt="Gold all in my watch")
					h1 Breaking the sound wall
					h3 Brand Icons
			a(href="/history").go-to-page
				div(class="item")
					img(src="/images/Gandi.png" alt="Gold all in my watch")
					h1 Ghandi Goes to India
					h3 Brand Icons
			div(class="item wide")
				img(src="/images/bigwatch1.jpg" alt="Gold all in my watch")
			div(class="item wide")
				img(src="/images/bigwatch2.jpg" alt="Gold all in my watch")
			a(href="/timeline").go-to-page
				div(class="item wide")
					img(src="/images/index/LandingPage_1_Wide.png" alt="Gold all in my watch")
					h1 Making history one year at a time
					h3 Brand History
			a(href="/watchselection").go-to-page
				div(class="item wide")
					img(src="/images/bigwatch3.jpg" alt="Gold all in my watch")
					h1 El PRIMERO: STRATOS FLYYBACK TRIBUTE
					h3 View Watch
			a(href="/history").go-to-page
				div(class="item")
					img(src="/images/index/LandingPage_2_ROGER.png" alt="Gold all in my watch")
					h1 PASSION
					h3 View Person
			a(href="/product/9").go-to-page
				div(class="item wide")
					img(src="/images/bigwatch4.jpg" alt="Gold all in my watch")
			a(href="/timeselection/1975").go-to-page
				div(class="item wide")
					img(src="/images/index/LandingPage_4_1975.png" alt="Gold all in my watch")
					h1 1975: Remembering History
					h3 View Date
			a(href="/social").go-to-page
				div(class="item")
					h2 The new El Primero Chronomaster 1969 @tourauto, proves that speed & precision match perfectly with elegance!
			a(href="/product/9").go-to-page
				div(class="item wide")
					img(src="/images/Watch image_2.png" alt="Gold all in my watch")
					h1 EL PRIMERO
					h3 View Collections
			a(href="/social").go-to-page
				div(class="item")
					img(src="/images/internalwad.png" alt="Gold all in my watch")
					h1(class="top") The Academy
					h3(class="top") View All
			div(class="item")
				h2 Facet is glad to announce the official launch of the twitter UK store for the brand new... &hellip;
			div(class="item")
				img(src="/images/Felix.png" alt="Gold all in my watch")
				h1 The Academy
				h3 View All
		.tileContainer
			a(href="/product").go-to-page
				div(class="item")
					img(src="/images/index/LandingPage_2_WATCHSIDE.png" alt="Gold all in my watch")
					h1 ELITE 
					h3 View Collection
			a(href="/history").go-to-page
				div(class="item")
					img(src="/images/index/LandingPage_2_SPACE.png" alt="Gold all in my watch")
					h1 THE EDGE OF SPACE
					h3 View Person
			div(class="item wide")
				img(src="/images/index/LandingPage_2_BIGFOUR_TOP_LEFT.png" alt="Gold all in my watch")
			div(class="item wide")
				img(src="/images/index/LandingPage_2_BIGFOUR_TOP_RIGHT.png" alt="Gold all in my watch")
			a(href="/timeselection/2010").go-to-page
				div(class="item wide")
					img(src="/images/index/LandingPage_2_1900.png" alt="Gold all in my watch")
					h1 1900:A NEW CENTURY
					h3 View Date
			a(href="/timeselection/2010").go-to-page
				div(class="item wide")
					img(src="/images/index/LandingPage_2_BIGFOUR_BOTTOM_LEFT.png" alt="Gold all in my watch")
					h1 2010 : THE FUTURE OF LUXURY
					h3 View Date
			a(href="/timeselection").go-to-page
				div(class="item")
					img(src="/images/index/LandingPage_2_GENIVA.png" alt="Gold all in my watch")
					h2 WELCOME TO GENEVA
					h3 View Timeline
			a(href="/timeselection/2010").go-to-page
				div(class="item wide")
					img(src="/images/index/LandingPage_2_BIGFOUR_BOTTOM_RIGHT.png" alt="Gold all in my watch")
			div(class="item wide")
				img(src="/images/bigwatch4.jpg" alt="Gold all in my watch")
			a(href="/social").go-to-page
				div(class="item")
					h2 Stay up to date with Facet news and social media at the facetHub
			div(class="item wide")
				img(src="images/index/LandingPage_3_ElPrimero.png" alt="Gold all in my watch")
				h1 Big callout area
				h3 The 1969 Auto Edition
			div(class="item")
				a(href="/social").go-to-page
					img(src="/images/index/LandingPage_3_Explorer.png" alt="Gold all in my watch")
				h1(class="top") AN EXPLORER
				h3(class="top") View Person
			div(class="item")
				h2 Facet is glad to announce the official launch of the twitter UK store for the brand new blah &hellip;
			div(class="item")
				img(src="/images/Felix.png" alt="Gold all in my watch")
				h1 The Academy
				h3 View All
		.tileContainer
			a(href="/watchselection").go-to-page
				div(class="item")
					img(src="/images/index/LandingPage_3_ChallengerCollection.png" alt="Gold all in my watch")
					h1 CHALLENGER COLLECTION
					h3 View Collection
			a(href="/history").go-to-page
				div(class="item")
					img(src="/images/index/LandingPage_3_DoctorGuy.png" alt="Gold all in my watch")
					h1 A VIRTUOSO
					h3 View Person
			div(class="item wide")
				img(src="/images/index/LandingPage_3_TopLeft.png" alt="Gold all in my watch")
			div(class="item wide")
				img(src="/images/index/LandingPage_3_BigFour_TopRight.png" alt="Gold all in my watch")
			a(href="/timeline/2010").go-to-page
				div(class="item wide")
					img(src="/images/index/LandingPage_2_1900.png" alt="Gold all in my watch")
					h1 1900:A NEW CENTURY
					h3 View Date
			a(href="/timeselection/1925").go-to-page
				div(class="item wide")
					img(src="/images/index/LandingPage_3_BIGFour_BottomLeft.png" alt="Gold all in my watch")
					h1 1925: A TECHNOLOGY LEAP
					h3 View Date
			a(href="/timeselection").go-to-page
				div(class="item")
					img(src="/images/index/LandingPage_2_GENIVA.png" alt="Gold all in my watch")
					h2 WELCOME TO GENEVA
					h3 View Timeline
			a(href="/timeselection/2010").go-to-page
				div(class="item wide")
					img(src="/images/index/LandingPage_3_BigFour_BottomRight.png" alt="Gold all in my watch")
			div(class="item wide")
				img(src="/images/bigwatch4.jpg" alt="Gold all in my watch")
			a(href="/social").go-to-page
				div(class="item")
					h2 Stay up to date with Facet news and social media at the facetHub
			div(class="item wide")
				img(src="/images/Watch image_2.png" alt="Gold all in my watch")
				h1 Big callout area
				h3 The 1969 Auto Edition
			div(class="item")
				img(src="/images/internal ad.png" alt="Gold all in my watch")
				h1(class="top") The Academy
				h3(class="top") View All
			div(class="item")
				h2 Facet is glad to announce the official launch of the twitter UK store for the brand new blah &hellip;
			div(class="item")
				img(src="/images/Felix.png" alt="Gold all in my watch")
				h1 The Academy
				h3 View All
	script(src="/javascripts/imagesloaded.pkgd.min.js")
	script(src="/javascripts/masonry.pkgd.min.js")
	script(src="/javascripts/main.js")
	script(type='text/javascript').
		<!--
		if (screen.width <= 699) {
		document.location = "mobileindex";
		}