extends layout

block content
	div(id="homePage")
		p(id="currentDevice") There is no device currently connected.
		div(id="container")
			div(class="item")
			div(class="item")
			div(class="item wide")
			div(class="item wide")
			div(class="item tall")
				h1 Big callout area
			div(class="item tall")
				h1 Big callout area
			div(class="item")
				h2 Zenith is glad to announce the official launch of the Twitter UK &hellip;
			div(class="item wide")
			div(class="item wide")
			div(class="item")
			div(class="item wide")
			div(class="item")
			div(class="item")
			div(class="item")
	script(src="javascripts/masonry.pkgd.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="javascripts/main.js")
