doctype html
html
	head
		title= title
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700', type='text/css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=EB+Garamond', type='text/css')
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="/javascripts/global.js")
	body
		#globalNav
			a(href='/').go-to-page Home
			a(href='/product').go-to-page Product
			a(href='/history').go-to-page History
		block content