doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='stylesheets/mobile.css')
    title Facet Mobile
  body
    a(href='/mobileindex')
      #nav
      #navFix
        img(src='../images/facet_type_m.png')
    #watchSelection
      a.go-to-page(href='/product/1')
        .watchSelect
          img(src='images/watches/primero.png')
          span.linkColor EL PRIMERO
          .number 01
      a.go-to-page(href='/product/10')
        .watchSelect
          img(src='images/watches/challenger.png')
          span.linkColor CHALLENGER
          .number 02
      a.go-to-page(href='/product/14')
        .watchSelect
          img(src='images/watches/academy.png')
          span.linkColor ACADEMY
          .number 03
      a.go-to-page(href='/product/16')
        .watchSelect
          span.linkColor ELITE
          img(src='images/watches/elite.png')
          .number 04
      a.go-to-page(href='/product')
        .watchSelect
          img(src='images/watches/pilot.png')
          span.linkColor PILOT
          .number 05
      a.go-to-page(href='/product')
        .watchSelect
          img(src='images/tempWatch.png')
          span.linkColor LEGEND
          .number 06