doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		link(rel='stylesheet', href='stylesheets/mobile.css')
		title Facet Mobile
	body
		#nav Facet Watches
		#firstRow
			.item.top.sm
				span Facet History - 1810
			a(href='/product')
				.item.med
					img(src='images/Felix.png')
			a(href='/history')
				.item.med
					img(src='images/Gandi.png')
			.item.med
		#secondRow
			.item.sm
				span Facet History - 1920
			.item.big
				span Stratos Flyback Tribute to Felix...
			.item.med