doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='stylesheets/mobile.css')
    title Facet Mobile
  body
    a(href='/mobileindex')
      #nav
      #navFix
        img(src='../images/facet_type_m.png')
    #content
      input#slide-01(type='radio', name='imgnav', checked='')
      fieldset#slide-content-01
        input#legend-01(type='checkbox')
      input#slide-02(type='radio', name='imgnav')
      fieldset#slide-content-02
        input#legend-02(type='checkbox')
      input#slide-03(type='radio', name='imgnav')
      fieldset#slide-content-03
        input#legend-03(type='checkbox')
      input#slide-04(type='radio', name='imgnav')
      fieldset#slide-content-04
        input#legend-04(type='checkbox')
      input#slide-05(type='radio', name='imgnav')
      fieldset#slide-content-05
        input#legend-05(type='checkbox')
      input#slide-05(type='radio', name='imgnav')
      fieldset#slide-content-05
        input#legend-05(type='checkbox')
      input#slide-06(type='radio', name='imgnav')
      fieldset#slide-content-05
        input#legend-06(type='checkbox')
    imgnav
      label#label-01(for='slide-01')
      label#label-02(for='slide-02')
      label#label-03(for='slide-03')
      label#label-04(for='slide-04')
      label#label-05(for='slide-05')
      label#label-06(for='slide-06')
