doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='stylesheets/mobile.css')
    title Facet Mobile
  body
    a(href='/mobileindex')
      #nav
      #navFix
        img(src='../images/facet_type_m.png')
    #timeSelection
      a#1865(href='/mobiletimeline/1865')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 18
          .number 65
      a#1899(href='/mobiletimeline/1899')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 18
          .number 99
      a#1900(href='/mobiletimeline/1900')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 19
          .number 00
      a#1910(href='/mobiletimeline/1910')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 19
          .number 10
      a#1911(href='/mobiletimeline/1911')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 19
          .number 11
      a#1925(href='/mobiletimeline/1925')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 19
          .number 25
      a#1948(href='/mobiletimeline/1948')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 19
          .number 48
      a#1960(href='/mobiletimeline/1960')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 19
          .number 60
      a#1968(href='/mobiletimeline/1969')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 19
          .number 69
      a#1975(href='/mobiletimeline/1975')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 19
          .number 75
      a#1984(href='/mobiletimeline/1984')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 19
          .number 84
      a#1994(href='/mobiletimeline/1994')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 19
          .number 94
      a#2000(href='/mobiletimeline/2000')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 20
          .number 00
      a#2003(href='/mobiletimeline/2003')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 20
          .number 03
      a#2009(href='/mobiletimeline/2009')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 20
          .number 09
      a#2010(href='/mobiletimeline/2010')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 20
          .number 10
      a#2011(href='/mobiletimeline/2011')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 20
          .number 11
      a#2012(href='/mobiletimeline/2012')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 20
          .number 12
      a#2013(href='/mobiletimeline/2013')
        .timeSelect
          img(src='../images/triangle.svg')
          span.linkColor 20
          .number 13
