doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/mobile.css')
    title Facet Mobile
  body
    a(href='/mobileindex')
      #nav
      #navFix
        img(src='../images/facet_type_m.png')
    #social
      .post
        .tweet Introducing the new Facet El Primero Chronograph Classic #imaginefacet
        .timestamp 8:57pm-April 03
        img(src='../images/social/twitter_icon.svg')
      .post(style='background:#A08E6A; color:#fff;')
        .tweet Stay up to date with Zenith news and social media at the #facetHub
        .timestamp 8:57pm-April 03
        img(src='../images/social/twitter_icon.svg')
      .post
        .tweet The new El Primero Chronomaster 1969 @tourauto, proves that speed & precision match perfectly with elegance!
        .timestamp 8:57pm-April 03
        img(src='../images/social/twitter_icon.svg')