doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='stylesheets/mobile.css')
    title Facet Mobile
  body(style='background:#000')
    a(href='/mobileindex')
      #nav
      #navFix
        img(src='../images/facet_type_m.png')
    #firstRow
      a(href='/mobiletimeline/1960')
        .item.top.med
          img(src='images/mobile/historyicon1.png')
          btmspan The Academy
      a(href='/mobiletimeselection')
        .item.med
          img(src='/images/internal_ad.png')
          topspan Time Selection
      a(href='/mobilehistory')
        .item.med
          btmspan Gandhi
          img(src='images/Gandi.png')
      a(href='/mobilehistory')
        .item.med
          btmspan Facet 1920
          img(src='images/mobile/historyicon2.png')
        .item.sm
          btmspan
    #secondRow
      a(href='/mobilehistory')
        .item.top.med
          btmspan Go Faster
          img(src='images/Felix.png')
      a(href='/mobiletimeline')
        .item.big
          topspan Stratos Flyback Tribute to Felix...
          img(src='/images/watch_01.png')
      a(href='/mobilewatchselection')
        .item.med
          img(src='/images/facetmobile.png')
          topspan Watches
      a(href='/mobilesocial')
        .item.med
          img(src='/images/mobile/social.png')
          btmspan Social