extends layout

block content
    #pcontainer
        #vscroll.column
            #upnav ^
            | &#x9;
            #thumbnails
                .thumbnail
                    h2.thumbnum 01
                    | &#x9;&#x9;&#x9;
                    img(src='/images/watchthumb.png', alt='watch thumbnail')
                    | &#x9;&#x9;&#x9;
                    h3.thumbname EL PRIMERO
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.thumbnum 02
                    | &#x9;&#x9;&#x9;
                    img(src='/images/watchthumb.png', alt='watch thumbnail')
                    | &#x9;&#x9;&#x9;
                    h3.thumbname CHALLENGER
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.thumbnum 03
                    | &#x9;&#x9;&#x9;
                    img(src='/images/watchthumb.png', alt='watch thumbnail')
                    | &#x9;&#x9;&#x9;
                    h3.thumbname ACADEMY
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.thumbnum 04
                    | &#x9;&#x9;&#x9;
                    img(src='/images/watchthumb.png', alt='watch thumbnail')
                    | &#x9;&#x9;&#x9;
                    h3.thumbname ELITE
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.thumbnum 05
                    | &#x9;&#x9;&#x9;
                    img(src='/images/watchthumb.png', alt='watch thumbnail')
                    | &#x9;&#x9;&#x9;
                    h3.thumbname PILOT
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.thumbnum 06
                    | &#x9;&#x9;&#x9;
                    img(src='/images/watchthumb.png', alt='watch thumbnail')
                    | &#x9;&#x9;&#x9;
                    h3.thumbname ELITE
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.thumbnum 07
                    | &#x9;&#x9;&#x9;
                    img(src='/images/watchthumb.png', alt='watch thumbnail')
                    | &#x9;&#x9;&#x9;
                    h3.thumbname ACADEMY
                    | &#x9;
            #downnav ^
        #info.column
            .overlap
                h1.title= productCollection
                | &#x9;&#x9;
                h1.position  02/07
                | &#x9;
                h3.type= productTitle
                | &#x9;
                h3.diameter 45 MM
                | &#x9;
                h4.measure 03.2160.4047/01.C713
                | &#x9;
            #categories
                #menu.menusection
                    #movementm.category
                        span.icon-movment_off.general-ui-icon.icon
                        .ctitle
                            | MOVEMENT
                        | &#x9;&#x9;
                    #featuresm.category
                        span.icon-features_off.general-ui-icon.icon
                        .ctitle
                            | FEATURES
                            | &#x9;&#x9;
                    #externalm.category
                        span.icon-externals_off.general-ui-icon.icon
                        .ctitle
                            | EXTERNAL
                            | &#x9;&#x9;
                    #variationsm.category
                        span.icon-variation_off.general-ui-icon.icon
                        .ctitle
                            | VARIATIONS
                            | &#x9;&#x9;
                    #inspirationm.category
                        span.icon-inspiration_off.general-ui-icon.icon
                        .ctitle
                            | INSPIRATIONS
                            | &#x9;&#x9;
                    #buym.category
                        span.icon-buy_off.general-ui-icon.icon
                        br
                        | BUY
                #movement.menusection
                    button.back(type='button') back
                    h2 Movement Section
                    h3 Frequency
                    p #{frequency}
                #features.menusection
                    button.back(type='button') back
                    h2 Features Section
                #external.menusection
                    button.back(type='button') back
                    h2 External Section
                #variations.menusection
                    button.back(type='button') back
                    h2 Features Section
                #inspirations.menusection
                    button.back(type='button') back
                    h2 Inspirations Section
                #buy.menusection
                    button.back(type='button') back
                    h2 Buy Section
        #media.column
            #escape
                a(href="/watchselection").go-to-page
                    img(src='../images/watches/close.png')
            #model
                iframe(width='100%', height='480', src='https://sketchfab.com/models/04e3d5fe3f9046aa9f2ab62ffece4fce/embed', frameborder='0', allowfullscreen='', mozallowfullscreen='true', webkitallowfullscreen='true', onmousewheel='')
            #details
                img(src='/images/categories/movement_detail.svg', alt='category details')
                h3 Movement
                p
                | He soon understood that he would have to revolutionize production methods if he were to achieve this- for at the time, artisans were scattered among small workshops in the surrounding region or worked from home
    script(src="/javascripts/product.js")
