doctype html
html
    head
        title Facet 3D Model Demo
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js")
        script(src="/javascripts/OBJLoader.js")
        script(src="/javascripts/MTLLoader.js")
        script(src="/javascripts/OBJMTLLoader.js")
        script(src="/javascripts/TrackballControls.js")
    body
        #ThreeJS(style="position: absolute; left:0px; top:0px;")
        script(src="/javascripts/productmodel.js")   
