doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    | &#x9;&#x9;
    link(href='css/main.css', rel='stylesheet', type='text/css')
    | &#x9;
    | &#x9;&#x9;
    | &#x9;&#x9;
    title Product Name
  body
    #vscroll.column
      #upnav ^
      | &#x9;
      #thumbnails
        .thumbnail
          h2.thumbnum
            | 01
            img(src='media/watchthumb.png')
            | &#x9;&#x9;&#x9;
            h3.thumbname EL PRIMERO
        | &#x9;&#x9;&#x9;
        .thumbnail
          h2.thumbnum
            | 02
            img(src='media/watchthumb.png')
            | &#x9;&#x9;&#x9;
            h3.thumbname CHALLENGER
        | &#x9;&#x9;&#x9;
        .thumbnail
          h2.thumbnum
            | 03
            img(src='media/watchthumb.png')
            | &#x9;&#x9;&#x9;
            h3.thumbname ACADEMY
        | &#x9;&#x9;&#x9;
        .thumbnail
          h2.thumbnum
            | 04
            img(src='media/watchthumb.png')
            | &#x9;&#x9;&#x9;
            h3.thumbname ELITE
        | &#x9;&#x9;&#x9;
        .thumbnail
          h2.thumbnum
            | 05
            img(src='media/watchthumb.png')
            | &#x9;&#x9;&#x9;
            h3.thumbname PILOT
        | &#x9;&#x9;&#x9;
        .thumbnail
          h2.thumbnum
            | 06
            img(src='media/watchthumb.png')
            | &#x9;&#x9;&#x9;
            h3.thumbname ELITE
        | &#x9;&#x9;&#x9;
        .thumbnail
          h2.thumbnum
            | 07
            img(src='media/watchthumb.png')
            | &#x9;&#x9;&#x9;
            h3.thumbname ACADEMY
      | &#x9;
      #downnav ^
    #info.column
      .overlap
        h1.title CHALLENGER
        | &#x9;&#x9;
        h1.position  02/07
      | &#x9;
      h3.type CHRONOMASTER GRANDE DATE
      | &#x9;
      h3.diameter 45 MM
      | &#x9;
      h4.measure 03.2160.4047/01.C713
      | &#x9;
      #categories
        .category
          img.icon(src='media/movement.png')
          | MOVEMENT
        | &#x9;&#x9;
        .category
          img.icon(src='media/features.png')
          | FEATURES
        | &#x9;&#x9;
        .category
          img.icon(src='media/external.png')
          | EXTERNAL
        | &#x9;&#x9;
        .category
          img.icon(src='media/variations.png')
          | VARIATIONS
        | &#x9;&#x9;
        .category
          img.icon(src='media/inspirations.png')
          | INSPIRATIONS
        | &#x9;&#x9;
        .category
          img.icon(src='media/buy.png')
          br
          | BUY
    #media.column
      #model
        img(src='media/watchimg.png')
      | &#x9;
      #details
        h3 Movement
        p
          | He soon understood that he would have to revolutionize production methods if he were to achieve this- for at the time, artisans were scattered among small workshops in the surrounding region or worked from home
