extends layout

block content
	#watchSelection
		.watchSelect
			span.linkColor EL PRIMERO
			| &#x9;
			.number 07
		.watchSelect
			span.linkColor CHALLENGER
			| &#x9;
			.number 02
		.watchSelect
			span.linkColor ACADEMY
			| &#x9;
			.number 04
		.watchSelect
			span.linkColor ELITE
			| &#x9;
			.number 03
		.watchSelect
			span.linkColor FAT AL
			| &#x9;
			.number 01
		.watchSelect
			span.linkColor CROCEY
			| &#x9;
			.number 08
