extends layout

block content
  h1 Facet NFC Simulator
  button(id="simulateButton") Pretend that clicking this button is the app detecting an NFC tag

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/fake.js")
