extends layout

block content
	#vcontainer
		a(href="/")
			#escape
				img(src='../images/watches/close.png')
		.vcolumn.accent
			span.post Check out the next cool thing that Facet is doing
			| &#x9;
			.timestamp 01
		.vcolumn
			span.post Check out the next cool thing that Facet is doing
			| &#x9;
			.timestamp 02
		.vcolumn.accent
			span.post Check out the next cool thing that Facet is doing
			| &#x9;
			.timestamp 03
		.vcolumn
			span.post Check out the next cool thing that Facet is doing
			| &#x9;
			.timestamp 04
		.vcolumn.accent
			span.post Check out the next cool thing that Facet is doing
			| &#x9;
			.timestamp 05
		.vcolumn
			span.post Check out the next cool thing that Facet is doing
			| &#x9;
			.timestamp 06
