extends layout

block content
	#vcontainer
		.vcolumn
			span.post Introducing the new Facet El Primero Chronograph Classic #imaginefacet.
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn.accent
			span.post Stay up to date with Zenith news and social media at the #facetHub 
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn
			span.post The new El Primero Chronomaster 1969 @tourauto, proves that speed & precision match perfectly with elegance!
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn.accent
			span.post Check out the next cool thing that Facet is doing
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn
			span.post Check out the next cool thing that Facet is doing
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn.accent
			span.post Check out the next cool thing that Facet is doing
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn
			span.post Check out the next cool thing that Facet is doing
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
	#backURL(data-url="/")
