extends layout

block content
	#watchSelection
		#escape
			img(src='../images/watches/close.png')
		.watchSelect
			span.post Check out the next cool thing that Facet is doing
			| &#x9;
			.number 01
		.watchSelect
			span.linkColor CHALLENGER
			| &#x9;
			.number 02
		.watchSelect
			span.linkColor ACADEMY
			| &#x9;
			.number 03
		.watchSelect
			span.linkColor ELITE
			| &#x9;
			.number 04
		.watchSelect
			span.linkColor PILOT
			| &#x9;
			.number 05
		.watchSelect
			span.linkColor BLAH
			| &#x9;
			.number 06
