extends layout

block content
	#vcontainer
		a(href="/")
			#escape
				img(src='../images/watches/close.png')
		.vcolumn
			span.post Check out the next cool thing that Facet is doing
				.timestamp 8:57pm-April 03
		.vcolumn.accent
			span.post Check out the next cool thing that Facet is doing
				.timestamp 8:57pm-April 03
		.vcolumn
			span.post Check out the next cool thing that Facet is doing
				.timestamp 8:57pm-April 03
		.vcolumn.accent
			span.post Check out the next cool thing that Facet is doing
				.timestamp 8:57pm-April 03
		.vcolumn
			span.post Check out the next cool thing that Facet is doing
				.timestamp 8:57pm-April 03
		.vcolumn.accent
			span.post Check out the next cool thing that Facet is doing
				.timestamp 8:57pm-April 03
		.vcolumn
			span.post Check out the next cool thing that Facet is doing
			| &#x9;
			.timestamp 8:57pm-April 03
