extends layout

block content
	#vcontainer
		.vcolumn
			span.post Introducing the new Facet El Primero Chronograph Classic #imaginefacet.
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn.accent
			span.post Stay up to date with Zenith news and social media at the #facetHub 
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn
			span.post The new El Primero Chronomaster 1969 @tourauto, proves that speed & precision match perfectly with elegance!
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn.accent
			span.post @FacetWatches I got the same watch as Ghandi. We’re like twins now! #Twinsies #Facet
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn
			span.post @FacetWatches This sure is a watch to watch out for #WristAppeal
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn.accent
			span.post Vintage Quartz Facet’s are the best. Hella fly #Facet #Fashion #Vintage #Retro
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn
			span.post Check out the next cool thing that Facet is doing
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		
		.vcolumn.accent
			span.post Stay up to date with Zenith news and social media at the #facetHub 
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn
			span.post The new El Primero Chronomaster 1969 @tourauto, proves that speed & precision match perfectly with elegance!
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn.accent
			span.post @FacetWatches Should I get the Challenger or the Pilot? Both? #WatchLife #Indecisive
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn
			span.post There isn’t a part of this watch that isn’t perfect, Just wow. #Facet #WristWat
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn.accent
			span.post I dropped my facet watch off a building, it’s still working perfectly! #Facet #Quality
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
		.vcolumn
			span.post Played with that Facet display just now, SO COOL, This is the future. #Facet
				.timestamp 8:57pm-April 03
			img(src='../images/social/twitter_icon.svg')
	#backURL(data-url="/")
	script(type='text/javascript').
		if (screen.width <= 699) {
		document.location = "/mobilesocial/";
		}
