doctype html
html
    head
        title Facet 3D Model Demo
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/leap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js")
        script(src="/javascripts/MTLLoader.js")
        script(src="/javascripts/OBJMTLLoader.js")
        script(src="/javascripts/LeapTrackballControls.js")
    body
        #threedemoContainer(style="background:#333; position:absolute; top:0; left:0")
        script(src="/javascripts/threedemo.js")
