extends layout

block content
	#timeSelection
		#escape
			img(src='../images/watches/close.png')
		.timeSelect
			img(src='../images/triangle.png')
			span.linkColor 19
			| &#x9;
			.number 03
		.timeSelect
			img(src='../images/triangle.png')
			span.linkColor 19
			| &#x9;
			.number 11
		.timeSelect
			img(src='../images/triangle.png')
			span.linkColor 19
			| &#x9;
			.number 25
		.timeSelect
			img(src='../images/triangle.png')
			span.linkColor 19
			| &#x9;
			.number 48
		.timeSelect
			img(src='../images/triangle.png')
			span.linkColor 19
			| &#x9;
			.number 80
		.timeSelect
			img(src='../images/triangle.png')
			span.linkColor 19
			| &#x9;
			.number 06
