extends layout

block content
	#timeSelection
		a#1865(href="/timeline/1865")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 18
				| &#x9;
				.number 65
		a#1899(href="/timeline/1899")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 18
				| &#x9;
				.number 99
		a#1900(href="/timeline/1900")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 19
				| &#x9;
				.number 00
		a#1910(href="/timeline/1910")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 19
				| &#x9;
				.number 10
		a#1911(href="/timeline/1911")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 19
				| &#x9;
				.number 11
		a#1925(href="/timeline/1925")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 19
				| &#x9;
				.number 25
		a#1948(href="/timeline/1948")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 19
				| &#x9;
				.number 48
		a#1960(href="/timeline/1960")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 19
				| &#x9;
				.number 60
		a#1969(href="/timeline/1969")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 19
				| &#x9;
				.number 69
		a#1975(href="/timeline/1975")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 19
				| &#x9;
				.number 75
		a#1984(href="/timeline/1984")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 19
				| &#x9;
				.number 84
		a#1994(href="/timeline/1994")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 19
				| &#x9;
				.number 94
		a#2000(href="/timeline/2000")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 20
				| &#x9;
				.number 00		
		a#2003(href="/timeline/2003")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 20
				| &#x9;
				.number 03
		a#2009(href="/timeline/2009")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 20
				| &#x9;
				.number 09
		a#2010(href="/timeline/2010")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 20
				| &#x9;
				.number 10	
		a#2011(href="/timeline/2011")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 20
				| &#x9;
				.number 11
		a#2012(href="/timeline/2012")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 20
				| &#x9;
				.number 12
		a#2013(href="/timeline/2013")
			.timeSelect
				img(src='../images/triangle.svg')
				span.linkColor 20
				| &#x9;
				.number 13
	#backURL(data-url="/")
	script(type='text/javascript').
		<!--
		if (screen.width <= 699) {
		document.location = "mobiletimeselection";
		}				