extends layout

block content
	#timeSelection
		a(href="/")
				#escape
					img(src='../images/watches/close.png')
		a(href="/timeline")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 19
				| &#x9;
				.number 03
		a(href="/timeline")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 19
				| &#x9;
				.number 11
		a(href="/timeline")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 19
				| &#x9;
				.number 25
		a(href="/timeline")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 19
				| &#x9;
				.number 48
		a(href="/timeline")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 19
				| &#x9;
				.number 80
		a(href="/timeline")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 19
				| &#x9;
				.number 06
