extends layout

block content
    #vscroll.column
        #upnav ^
        | &#x9;
        #thumbnails
            .thumbnail
                h2.yearnum 03
                |             
                img.corner(src='images/triangle.png', alt='overlay')
                | &#x9;&#x9;&#x9;
                h3.centnum 19
                | &#x9;&#x9;&#x9;
            .thumbnail
                h2.yearnum 11
                |             
                img.corner(src='images/triangle.png', alt='overlay')
                | &#x9;&#x9;&#x9;
                h3.centnum 19
                | &#x9;&#x9;&#x9;
            .thumbnail
                h2.yearnum 24
                |             
                img.corner(src='images/triangle.png', alt='overlay')
                | &#x9;&#x9;&#x9;
                h3.centnum 19
                | &#x9;&#x9;&#x9;
            .thumbnail
                h2.yearnum 64
                |             
                img.corner(src='images/triangle.png', alt='overlay')
                | &#x9;&#x9;&#x9;
                h3.centnum 19
                | &#x9;&#x9;&#x9;
            .thumbnail
                h2.yearnum 72
                |             
                img.corner(src='images/triangle.png', alt='overlay')
                | &#x9;&#x9;&#x9;
                h3.centnum 19
                | &#x9;&#x9;&#x9;
            .thumbnail
                h2.yearnum 90
                |             
                img.corner(src='images/triangle.png', alt='overlay')
                | &#x9;&#x9;&#x9;
                h3.centnum 19
                | &#x9;&#x9;&#x9;
            .thumbnail
                h2.yearnum 98
                |             
                img.corner(src='images/triangle.png', alt='overlay')
                | &#x9;&#x9;&#x9;
                h3.centnum 19
        | &#x9;
        #downnav ^
    #info.column
        .overlap
            h1.title NINETEEN 25
            | &#x9;&#x9;
            h1.position 1925
        | &#x9;
        | &#x9;
        #categories
            .category
                img.icon(src='images/movement.png')
                | WATCHES
                | &#x9;&#x9;
            .category
                img.icon(src='images/features.png')
                | TECHNOLOGY
                | &#x9;&#x9;
            .category
                img.icon(src='images/external.png')
                | EVENT
                | &#x9;&#x9;
            .category
                img.icon(src='images/variations.png')
                | ICON
                | &#x9;&#x9;
            .category
                img.icon(src='images/inspirations.png')
                | HISTORY
                | &#x9;&#x9;
            .category
                img.icon(src='images/buy.png')
                br
                | ACHIEVEMENTS
    #media.column
        #escape
            a(href="/timeselection")
                img(src='../images/watches/close.png')
        img#histimg(src='images/history1.jpg')
        | &#x9;
        #details
            h3 Movement
            p
            | He soon understood that he would have to revolutionize production methods if he were to achieve this- for at the time, artisans were scattered among small workshops in the surrounding region or worked from home
    