extends layout

block content
	#timeSelection
		a(href="/")
				#escape
					img(src='../images/watches/close.png')
		a(href="/timeline/1865")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 18
				| &#x9;
				.number 65
		a(href="/timeline/1899")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 18
				| &#x9;
				.number 99
		a(href="/timeline/1900")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 19
				| &#x9;
				.number 00
		a(href="/timeline/1910")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 19
				| &#x9;
				.number 10
		a(href="/timeline/1911")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 19
				| &#x9;
				.number 11
		a(href="/timeline/1925")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 19
				| &#x9;
				.number 25
		a(href="/timeline/1948")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 19
				| &#x9;
				.number 48
		a(href="/timeline/1960")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 19
				| &#x9;
				.number 60
		a(href="/timeline/1969")
			.timeSelect
				img(src='../images/triangle.png')
				span.linkColor 19
				| &#x9;
				.number 69