extends layout

block content
	#watchSelection
		a(href="/product/1").go-to-page
			.watchSelect
				img(src='../images/watches/primero.png')
				span.linkColor EL PRIMERO
				| &#x9;
				#firstNum 01
		a(href="/product/10").go-to-page
			.watchSelect
				img(src='../images/watches/challenger.png')
				span.linkColor CHALLENGER
				| &#x9;
				.number 02
		a(href="/product/14").go-to-page
			.watchSelect
				img(src='../images/watches/academy.png')
				span.linkColor ACADEMY
				| &#x9;
				.number 03
		a(href="/product").go-to-page
			.watchSelect
				span.linkColor ELITE
				img(src='../images/watches/elite.png')
				| &#x9;
				.number 04
		a(href="/product").go-to-page
			.watchSelect
				img(src='../images/watches/pilot.png')
				span.linkColor PILOT
				| &#x9;
				.number 05
		a(href="/product").go-to-page
			.watchSelect
				img(src='../images/tempWatch.png')
				span.linkColor LEGEND
				| &#x9;
				.number 06
	#backURL(data-url="/")
	script(type='text/javascript').
		<!--
		if (screen.width <= 699) {
		document.location = "mobilewatchselection";
		}