extends layout

block content
	h1= title
	p(id="currentDevice") There is no device currently connected.
	img(src="images/facet.png" alt="Facet" id="logo")
	div(id="container")
		div(class="item")
		div(class="item tall white")
		div(class="item wide")
		div(class="item")
		div(class="item")
		div(class="item")
		div(class="item")
		div(class="item")
		div(class="item")
		div(class="item wide")
		div(class="item")
		div(class="item")
		div(class="item wide")
		div(class="item white")
		div(class="item tall")
		div(class="item white")
		div(class="item")
		div(class="item")
		div(class="item wide white")
		div(class="item")
		div(class="item wide")
		div(class="item white")
		div(class="item")
		div(class="item")
		div(class="item")
		div(class="item")
		div(class="item white")
		div(class="item")
	script(src="javascripts/masonry.pkgd.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="javascripts/main.js")
