extends layout

block content
  h1= title
  p(id="currentDevice") There is no device currently connected.

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js")
