body {
	margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
	padding: 0px;
	background: linear-gradient(to right, #fff, #ededed);
}

/*	FONTS */

@font-face {
	font-family: 'BodoniStd-BoldCondensed';
    src: url('../fonts/BodoniStd-BoldCondensed.otf');
}
@font-face {
	font-family: 'BodoniStd-Book';
    src: url('../fonts/BodoniStd-Book.otf');
}
@font-face {
	font-family: 'GothamHTF-Light';
    src: url('../fonts/GothamHTF-Light.otf');
}
@font-face {
	font-family: 'GothamHTF-Medium';
    src: url('../fonts/GothamHTF-Medium.otf');
}
@font-face {
	font-family: 'GothamHTF-BookItalic';
    src: url('../fonts/GothamHTF-BookItalic.otf');
}
@font-face {
	font-family: 'GothamHTF-Book';
    src: url('../fonts/GothamHTF-Book.otf');
}
@font-face {
	font-family: 'GaramondPremrPro';
    src: url('../fonts/GaramondPremrPro.otf');
}
#nav{
	width:100%;
	height:12vh;
	background:#000;
}
#navFix{
	position:fixed;
	top:0;
	width:100%;
	height:12vh;
	line-height:13.5vh;
	text-align:center;
	background:#000;
	z-index:3;
}
a {
	text-decoration: none;
	color:#000;
}
a:visited {
	text-decoration: none;
}

/* HOME PAGE */


#firstRow{
	position:relative;
}
#secondRow{
	position:absolute;
	top:12vh;
	left:50%;
}
.item{
	position:relative;
	background: #1d1d1d;
	color: #fff;
	display:block;
	width:50vw;
	vertical-align:bottom;
}
.item btmspan{
   position: absolute;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 0.2em;
   bottom: 2vh;
   left:3vh;
   right: 10%;
   font-size:2em;
   text-transform: uppercase;
   z-index:1;
}
.item topspan{
   position: absolute;
   font-family: 'Montserrat', sans-serif;
   top: 3vh;
   left:3vh;
   right: 10%;
   font-size:2em;
   z-index:1;
}

.item.sm{
	height:15vh;
}

.item.med{
	height:27vh;
}

.item.big{
	height:40vh;
}

.item img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.item.big img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* HISTORY PAGE */

#content {
    position: relative;
    overflow: hidden;
    height: 58vh;
	width:100%;
    background: #fff;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}

fieldset {
    border: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1000px;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}

input {
    display: none;
}

input[type="radio"]:checked + fieldset {
    left: 0;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

input[type="checkbox"]:checked + label {
    top: 0;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;}
}

input[type="checkbox"]:checked + label:after {
    top:-38px;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

imgnav label {
    display: inline-block;
    width: 16.65%;
    height: 30vh;
    color: #888;
}

#label-01 { background: url(../images/icons/ghandi_org.jpg) no-repeat; background-size: 100% 100%; }
#label-02 { background: url(../images/icons/felix_org.jpg) no-repeat; background-size: 100% 100%; }
#label-03 { background: url(../images/icons/mary_org.jpg) no-repeat; background-size: 100% 100%;  }
#label-04 { background: url(../images/icons/louis_org.jpg) no-repeat; background-size: 100% 100%;  }
#label-05 { background: url(../images/icons/ghandi_org.jpg) no-repeat; background-size: 100% 100%;  }
#label-06 { background: url(../images/icons/mary_org.jpg) no-repeat; background-size: 100% 100%;  }

#slide-content-01 { background: url(../images/icons/felix_cover.jpg) no-repeat; background-size: 100% 100%;  }
#slide-content-02 { background: url(../images/icons/felix_cover.jpg) no-repeat; background-size: 100% 100%;  }
#slide-content-03 { background: url(../images/icons/felix_cover.jpg) no-repeat; background-size: 100% 100%;  }
#slide-content-04 { background: url(../images/icons/felix_cover.jpg) no-repeat; background-size: 100% 100%;  }
#slide-content-05 { background: url(../images/icons/felix_cover.jpg) no-repeat; background-size: 100% 100%;  }
#slide-content-06 { background: url(../images/icons/felix_cover.jpg) no-repeat; background-size: 100% 100%;  }

/* WATCH SELECTION PAGE */

#watchSelection{
	margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
	padding-top: 0px;
	padding:3.5%;
	font-size:25px;
	font-family: 'GothamHTF-Book';
}
.watchSelect{
	position:relative;
	display:inline-block;
	margin-top:0.5vh;
	height:28vh;
	width:450px;
	background-color:#fff;
	text-align:center;
	color:#000;
	-webkit-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
}
.watchSelect img{
	position:absolute;
	display:inline-block;
	margin:auto;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center;
	z-index:1;
}
.watchSelect .number{
	position:relative;
	font-family: 'BodoniStd-BoldCondensed';
	text-align:center;
	padding-top:4vh;
	color:#000;
	font-size:250px;
	right:5px;
	z-index:1;
	color:#9D8C6C;
	opacity: 0.85;
}
#watchSelection .linkColor { 
	position:relative;
	letter-spacing: 4px;
	background-color:#FFF; 
	top:13vh;
	padding-left:80px;
	padding-right:80px;
	padding-top:5px;
	padding-bottom:5px;
	z-index:2;
}

/* TIMELINE PAGE */

#timeline{
	margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
	padding-top: 0px;
	font-size:25px;
	font-family: 'GothamHTF-Book';
}

#model {
	position:relative;
	margin:0;
	width:100%;
	height:40vh;
}

#model img {
	position:relative;
	width:100%;
	height:100%;
}

.title{
position:absolute;
z-index:2;
top:200px;
width:100%;
letter-spacing:3px;
font-family:"GothamHTF-Light";
color:#1E1E1E;
text-transform: uppercase;
font-size:2em;
text-align:center;
top:56vh;
}

.position{
position:absolute;
letter-spacing:5px;
color:#1E1E1E;
opacity:.1;
font-size:8em;
margin:0px;
z-index:1;
width:100%;
top:52vh;
text-align:center;
font-family:"BodoniStd-BoldCondensed";
}

#desc{
position:absolute;
color:#1E1E1E;
font-size:1.3em;
margin:0px;
z-index:1;
right:5%;
top:65vh;
left:5%;
font-family:"GothamHTF-Book";
}
#categories{
position:relative;
margin:auto;
top:20vh;
}

#menu{
	z-index:1;
	top: 5vh;
}
.menusection{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-4;
background-color:#F5F5F5;
}
.category{
float:left;
width:150px;
height:150px;
margin-left:7%;
margin-right:7%;
text-align:center;
font-family:"GothamHTF-Medium";
display:block;
overflow:hidden;
}
.category .icon{
margin:auto;
clear:both;
width:90px;
height:90px;
display:inline-block;
margin-bottom:20px;
}
.icon{
}
.menusection .back{
float:left;
background-color:none;
}
.back img{
width:25px;
height:25px;
}
.menusection h2{
float:left;
text-transform: uppercase;
}
.menusection h3{
font-size:16px;
line-height:1.5;
font-family:"GothamHTF-Book";
padding:10px;
clear:both;
}
.menusection h4{
clear:both;
font-size:16px;
line-height:1.5;
font-family:"GothamHTF-Light";
}
.ctitle{
display:block;
}
.overlap{
position:relative;
width:100%;
height:150px;
}
.measure{
color:#1E1E1E;
opacity:.1;
font-size:12pt;
position:absolute;
top:365px;
left:65px;
}
.type{
font-size:12pt;
position:absolute;
text-transform: uppercase;
top:325px;
left:65px;
}
.diameter{
font-size:12pt;
position:absolute;
top:345px;
left:65px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* PRODUCT PAGE */

#desc2{
position:absolute;
color:#1E1E1E;
font-size:1.3em;
margin:0px;
z-index:1;
top:65vh;
left:42%;
font-family:"GothamHTF-Book";
}
#desc3{
position:absolute;
color:#1E1E1E;
font-size:1.3em;
margin:0px;
z-index:1;
top:65vh;
right:5%;
font-family:"GothamHTF-Book";
}


/* SOCIAL PAGE */
#social{
	margin-left: auto;
    margin-right: auto;
	font-size:25px;
	font-family: 'GothamHTF-Book';
}
.post img{
position:absolute;
width:10%;
height:10vh;
padding-right:5%;
padding-bottom:1%;
right:0;
bottom:0;
opacity:.3;
}
.post{
position:relative;
width:100%;
height:25vh;
font-family: 'PT Serif', serif;
font-size:2em;
background:#fff;
}
.tweet{
padding:8%;
}
.timestamp{
position:relative;
font-family:'GothamHTF-Book';
padding-left:8%;
font-size:0.8em;
color:#333;
opacity:.3;
}


/* TIME SELECTION PAGE */

#timeSelection{
	margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
	padding-top: 0px;
	padding:3%;
	font-size:25px;
	font-family: 'GothamHTF-Book';
}
.timeSelect{
	position:relative;
	display:inline-block;
	margin-top:0.5vh;
	height:20vh;
	width:100%;
	background-color:#FFF;
	text-align:center;
	color:#000;
	-webkit-box-shadow: inset 0px 10px 0px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0px 10px 0px 0px rgba(0,0,0,0.05);
	box-shadow: inset 0px 10px 0px 0px rgba(0,0,0,0.05);
}
.timeSelect img{
	position:absolute;
	display:inline-block;
	margin:auto;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center;
	z-index:2;
	width:25%;
}
#timeSelection .linkColor { 
	font-family: 'BodoniStd-Book';
	position:relative;
	z-index:2;
	left:9%;
	top:-4vh;
	font-size:4em;
}
#timeSelection .number{
	font-family: 'BodoniStd-BoldCondensed';
	position:relative;
	display:inline-block;
	color:#9D8C6C;
	text-align:center;
	font-size:12em;
	right:3%;
	opacity: 0.85;
	z-index:1;
}

/* ICONS */

.icon-right_arrow:before {
	content: "\e61e";
}

.icon-left_arrow:before {
	content: "\e61f";
}

.icon-twitter_icon:before {
	content: "\e608";
}

.icon-google_icon:before {
	content: "\e609";
}

.icon-facebook_icon:before {
	content: "\e60a";
}

.icon-play_icon:before {
	content: "\e60b";
}

.icon-Tirangle .path1:before {
	content: "\e60c";
	color: rgb(255, 255, 255);
}
.icon-Tirangle .path2:before {
	content: "\e60d";
	margin-left: -1em;
	color: rgb(204, 204, 204);
}

.icon-technology_info:before {
	content: "\e60e";
}

.icon-event_info:before {
	content: "\e60f";
}

.icon-watches_info:before {
	content: "\e610";
}

.icon-icon_info:before {
	content: "\e611";
}

.icon-history_info:before {
	content: "\e612";
}

.icon-inspiration_info:before {
	content: "\e613";
}

.icon-variations_info:before {
	content: "\e614";
}

.icon-features_info:before {
	content: "\e615";
}

.icon-movement_info:before {
	content: "\e616";
}

.icon-external_info:before {
	content: "\e617";
}

.icon-rotate_hinting:before {
	content: "\e618";
}

.icon-pricing_detail:before {
	content: "\e619";
}

.icon-external_detail:before {
	content: "\e61a";
}

.icon-features_detail:before {
	content: "\e61b";
}

.icon-variations_detail:before {
	content: "\e61c";
}

.icon-movement_detail:before {
	content: "\e61d";
}

.icon-features_off:before {
	content: "\e600";
}

.icon-movment_off:before {
	content: "\e601";
}

.icon-inspiration_off:before {
	content: "\e602";
}

.icon-variation_off:before {
	content: "\e603";
}

.icon-externals_off:before {
	content: "\e604";
}

.icon-close_icon:before {
	content: "\e605";
}

.icon-buy_off:before {
	content: "\e606";
}

.icon-add_icon:before {
	content: "\e607";
}
.general-ui-icon {
	display: inline;
	position: relative;
	color: black;
	font-size: 5.2em;
	border-radius: 50%;
	border: 2px solid black;
	padding-left: none !important;
	overflow: hidden;
	cursor: pointer;
	transition: 0.3s linear all;
}

.general-ui-icon:hover {
	color: white;
	background: #a18f6b;
	border: 2px solid #a18f6b;
}

#watchHistory .general-ui-icon {
	font-size: 2.5em;
}

#info .general-ui-icon {
	margin: 20px;
}
