* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
     -moz-transform:scale(1);
     -webkit-transform":scale(1);
     -o-transform:scale(1);
     -ms-transform:scale(1);
	background: #fff;
	color: #333;
	font-family: 'GothamHTF-Book','Montserrat', sans-serif;
	font-size: 16px;
	/*overflow-y: hidden; /* This rule prevents vertical scrolling but might cause conflicts with other layouts */
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: 0.3s linear opacity;
}
a{
    text-decoration:none;
}

/*	FONTS */

@font-face {
	font-family: 'BodoniStd-BoldCondensed';
    src: url('../fonts/BodoniStd-BoldCondensed.otf');
}
@font-face {
	font-family: 'BodoniStd-Book';
    src: url('../fonts/BodoniStd-Book.otf');
}
@font-face {
	font-family: 'GothamHTF-Light';
    src: url('../fonts/GothamHTF-Light.otf');
}
@font-face {
	font-family: 'GothamHTF-Medium';
    src: url('../fonts/GothamHTF-Medium.otf');
}
@font-face {
	font-family: 'GothamHTF-BookItalic';
    src: url('../fonts/GothamHTF-BookItalic.otf');
}
@font-face {
	font-family: 'GothamHTF-Book';
    src: url('../fonts/GothamHTF-Book.otf');
}
@font-face {
	font-family: 'GaramondPremrPro';
    src: url('../fonts/GaramondPremrPro.otf');
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-right_arrow:before {
	content: "\e61e";
}

.icon-left_arrow:before {
	content: "\e61f";
}

.icon-twitter_icon:before {
	content: "\e608";
}

.icon-google_icon:before {
	content: "\e609";
}

.icon-facebook_icon:before {
	content: "\e60a";
}

.icon-achievement:before {
	content: "\e621";
}

.icon-home_icon:before {
	content: "\e620";
}

.icon-play_icon:before {
	content: "\e60b";
}

.icon-Tirangle .path1:before {
	content: "\e60c";
	color: rgb(255, 255, 255);
}
.icon-Tirangle .path2:before {
	content: "\e60d";
	margin-left: -1em;
	color: rgb(204, 204, 204);
}

.icon-technology_info:before {
	content: "\e60e";
}

.icon-event_info:before {
	content: "\e60f";
}

.icon-watches_info:before {
	content: "\e610";
}

.icon-icon_info:before {
	content: "\e611";
}

.icon-history_info:before {
	content: "\e612";
}

.icon-inspiration_info:before {
	content: "\e613";
}

.icon-variations_info:before {
	content: "\e614";
}

.icon-features_info:before {
	content: "\e615";
}

.icon-movement_info:before {
	content: "\e616";
}

.icon-external_info:before {
	content: "\e617";
}

.icon-rotate_hinting:before {
	content: "\e618";
}

.icon-pricing_detail:before {
	content: "\e619";
}

.icon-external_detail:before {
	content: "\e61a";
}

.icon-features_detail:before {
	content: "\e61b";
}

.icon-variations_detail:before {
	content: "\e61c";
}

.icon-movement_detail:before {
	content: "\e61d";
}

.icon-features_off:before {
	content: "\e600";
}

.icon-movment_off:before {
	content: "\e601";
}

.icon-inspiration_off:before {
	content: "\e602";
}

.icon-variation_off:before {
	content: "\e603";
}

.icon-externals_off:before {
	content: "\e604";
}

.icon-close_icon:before {
	content: "\e605";
}

.icon-buy_off:before {
	content: "\e606";
}

.icon-add_icon:before {
	content: "\e607";
}

.general-ui-icon {
	display: inline;
	position: relative;
	color: black;
	font-size: 5.2em;
	border-radius: 50%;
	border: 2px solid black;
	padding-left: none !important;
	overflow: hidden;
	cursor: pointer;
	transition: 0.3s linear all;
}
.timelinecategories .general-ui-icon{
    font-size:3.2em;
    padding-top:20px;
}
.general-ui-icon:hover {
	color: white;
	background: #a18f6b;
	border: 2px solid #a18f6b;
}

.prevent-vertical-scroll {
	overflow-y: hidden;
}

.prevent-horizontal-scroll {
	overflow-x: hidden;
}

#watchHistory .general-ui-icon {
	font-size: 2.5em;
	border-color: white;
}

#watchHistory .general-ui-icon:hover {
	border-color: #a18f6b;
}

#info .general-ui-icon {
	margin: 20px;
}

#logo {
	opacity: 0.7;
	margin: 6px;
	transition: 0.3s ease-in all;
	cursor: pointer;
}

#logo:hover {
	opacity: 1.0;
}

#globalNav {
	width: 100px;
	position: fixed;
	right: 75px;
	text-align: right;
	bottom: 50px;
	z-index: 9001;
	transition: 0.5s ease-in all;
	opacity: 0;
	pointer-events: none;
}

#globalNav a {
	color: #f3f3f3;
	font-size: 3em;
	border-color: #f3f3f3;
	margin: 0 10px;
}

#globalNav.black a {
	color: black;
	border-color: black;
}

#globalNav a:hover {
	border-color: #a18f6b;
}

#globalNav.visible {
	opacity: 1;
	pointer-events: auto;
}

#currentDevice {
	display: none;
	position: fixed;
	z-index: 9000;
	top: 20px;
	left: 20px;
	width: 300px;
	height: 300px;
	background: #f5f5f5;
	border: 1px solid #666;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#homePage {
	height: 1080px;
	padding: 75px 30px;
	background: linear-gradient(to right, #fff, #ededed);
	width: 6525px;
	clear: both;
}

#homePage .tileContainer {
	width: 2050px;
	float: left;
}

#homePage .item {
	font-family: 'EB Garamond', serif;
	background: #1d1d1d;
	position: relative;
	padding: 25px;
	width: 280px;
	height: 280px;
	margin: 0 0 10px;
	color: #fff;
}

#homePage .item.tall {
	height: 570px;
}

#homePage .item.wide {
	width: 570px;
}

.white:not(#globalNav) {
	background: #f4f4f4; /* Temporarily off-white to demonstrate layout */
}

#homePage .item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#homePage .item .social {
	position: absolute;
	bottom: 30px;
	right: 30px;
	z-index: 1;
	font-size: 2em;
}

#homePage .item h1 {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.4em;
	font-size: 1em;
	text-transform: uppercase;
	max-width: 200px;
	position: absolute;
	bottom: 40px;
	left: 30px;
	z-index: 1;
}
#homePage .item.wide h1 {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.4em;
	font-size: 1em;
	text-transform: uppercase;
	max-width: 300px;
	position: absolute;
	bottom: 40px;
	left: 30px;
	z-index: 1;
}

#homePage .item:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	box-shadow: 0 0 100px 50px rgba(0,0,0,0.6) inset;
}

#homePage .item h2 {
	font-size: 1.6em;
	margin: 0px 0 0 5px;
	z-index: 1;
	position: relative;
    
}

#homePage .item h1.top {
	top: 40px;
}

#homePage .item h3.top {
	top: 60px;
}

#homePage .item h3 {
	font-size: 0.9em;
	color: #9c7743;
	position: absolute;
	bottom: 20px;
	left: 30px;
	padding: 0;
	z-index: 1;
}
/*social styles*/
.vcolumn{
height:100%;
float:left;
-webkit-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
position:relative;
padding:0px;
width:350px;

display:inline-block;

}	
.vcolumn img{
width:75px;
height:75px;
position:absolute;
right:50px;
bottom:5%;
opacity:.3;
}
#vcontainer{
position:absolute;
height:100%;
min-width:200%;
max-width:350%;
overflow-x:scroll;
overflow-y:hidden;
top:0;
left:0;

}	
.accent{
background-color:#A08E6A;
color:#FFFFFF;
}

.post{
width:80%;
height:60%;
position:absolute;
top:20%;
left:10%;
padding:30px;
font-family: 'PT Serif', serif;
font-size:24pt;
}
.vcolumn .timestamp{
clear:both;
position:absolute;
bottom:20%;
font-family:'GothamHTF-Book';
font-size:20px;
padding-top:30px;
line-height:3.6pt;
color:#333;
opacity:.3;
}

/*styles specific to product page*/

#pcontainer{
position:absolute;
height:100%;
width:100%;
overflow-x:hidden;
overflow-y:hidden;
display:inline-block;
margin-left:0px;
top:0px;
min-height:800px;
}
.column{
height:100%;
float:left;
position:relative;
-webkit-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
overflow-x:hidden;
overflow-y:hidden;
padding:0px;
}
.column h1,.column h3,.column h4{
padding-left:10px;
}
.column::-webkit-scrollbar { 
width: 0 !important
 }
#vscroll{
width:10%;
overflow-x:hidden;
overflow-y:scroll;
background-color:#FBFBFB;

}
.vscrollnav{
    
    width:10%;
    position:absolute;
    min-width:90px;
    height:100px;
    text-align:center;
    z-index:4;
   left:0;
   background-color:white;
   -webkit-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
}
.vscrollnav img{
height:30px;
width:50px;
opacity:.3;
margin:10px;

}
#upnav{
top:0;

}
#downnav{
position:fixed;
bottom:0;
height:80px;
}
#info{
width:27%;
background-color:#F5F5F5;

}
#media{
width:63%;

background-color:#EDEDED;
}


#details{
overflow:hidden;
padding-left:0px;
position:fixed;
bottom:0;
right:0;
padding:1%;
background-color:#ffffff;
height:175px;

width:63%;
-webkit-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
}
#details h3 {
	padding-top:20px;
    padding-left:40px;
	letter-spacing:2px;
}
#details p {
	font-size:20px;
	padding:15px;
    padding-top:10px;
    
	padding-left:40px;
	padding-right:120px;
    line-height:27pt;
	
}

#details span {
	position:relative;
	float:left;
    width:90px;
    height:90px;
    padding-right:30px;
    padding-top:30px;
    
}
#qrcode{
    display:none;
    width:90px;
    height:90px;
}
#categorydetails{
width:90px;
height:90px;
}
/*vscroll styles*/
.thumbnails{
margin-top:150px;
overflow-y:scroll;
min-width:150px;
padding-left:0px;
margin-left:0px;
}

.thumbnail{
width:150%;
height:150px;
overflow-x:hidden;
background-color:#ffffff;
z-index:0;
position:relative;
left:-25%;
padding:0px;
margin:auto;
}
.selected{
z-index:2;

background-color:#ffffff;
-webkit-box-shadow: 0px 5px 42px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 42px 1px rgba(0,0,0,0.75);
box-shadow: 0px 5px 42px 1px rgba(0,0,0,0.75);
}
.selected .yearnum{
color:#9D8C6C;
}
.thumbnail img{
position:absolute;
margin:auto;
top:-60;
left:30%;
z-index:0;

}
.productscroll .thumbnail img{
    margin-left:26px;
    width:75px;
    height:132px;
}
.thumbnum{
position:absolute;
vertical-align:text-top;
font-size:90pt;
margin:auto;
top:10;
left:35%;
z-index:1;
padding:0px;
opacity: 0.85;
color:#A08E6A;
font-family: 'BodoniStd-BoldCondensed';
text-align:center;
}
.thumbname{
background-color:#ffffff;
position:relative;
font-size:10pt;
margin:auto;
margin-top:60px;
z-index:2;
width:100%;

text-align:center;
color:#333;
text-transform:uppercase;

}
#upnav{
position:fixed;
height:50px;
top:0;
background-color:#FBFBFB;
z-index:3;
}
/*Product Details Styles*/
#categories{
position:relative;
margin:auto;
width:100%;
height:65%;
overflow:hidden;
left:15px;
top:300px;
}

#menu{
	z-index:1;
	top: 5px;
	
}
.menusection{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
background-color:#F5F5F5;
padding-left:10px;
padding-right:10px;
}
.category{
float:left;
width:150px;
height:150px;
margin-left:7%;
margin-right:7%;
text-align:center;
font-family:"GothamHTF-Medium";
display:block;
}
.category .icon{
margin:auto;
clear:both;
width:90px;
height:90px;
display:inline-block;
margin-bottom:20px;
}
.true span{
    color: white;
	background: #a18f6b;
	border: 2px solid #a18f6b;

}
.false:hover span{
   color: black;
	border-color: black;
    background:#f5f5f5;

}
.false:after span{
    color: black;
	border-color: black;
    background:#f5f5f5;
	

}
.menusection .back{
float:left;
background-color:none;

}
.back img{
width:25px;
height:25px;
}
.menusection h2{
float:left;
text-transform: uppercase;
}
.menusection h3{
font-size:16px;
line-height:1.5;
font-family:"GothamHTF-Book";
padding:10px;
clear:both;
}
.menusection h4{
clear:both;
font-size:16px;
line-height:1.5;
max-width:80%;
font-family:"GothamHTF-Light";
}
.ctitle{
display:block;
}
.cvalue{
z-index:-50;
display:none;
}

.overlap{
position:relative;
width:100%;
height:150px;
}
.title{
position:absolute;
z-index:2;
top:200px;
left:65px;
letter-spacing:3px;
font-family:"GothamHTF-Light";
color:#1E1E1E;
text-transform: uppercase;
font-size:50px;
text-align:center;
}
.position{
position:absolute;
letter-spacing:5px;
color:#1E1E1E;
opacity:.1;
font-size:180px;
margin:0px;
z-index:1;
left:5%;
top:125px;
left:70px;
text-align:center;
font-family:"BodoniStd-BoldCondensed";
}
#dash{
position:absolute;
height:3px;
width:45px;
background-color:#1E1E1E;
top:300px;
left:75px;
z-index:3;
}
#desc{
position:absolute;
color:#1E1E1E;
font-size:15px;
margin:0px;
z-index:1;
left:5%;
top:315px;
left:70px;
font-family:"GothamHTF-Book";
width:80%;
}
.measure{
color:#1E1E1E;
opacity:.1;
font-size:12pt;
position:absolute;
top:365px;
left:65px;
}
.type{
font-size:12pt;
position:absolute;
text-transform: uppercase;
top:325px;
left:65px;
}
.diameter{
font-size:12pt;
position:absolute;
top:345px;
left:65px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*styles specific to watch selection page*/
#watchSelection{
	margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
	padding-top: 0px;
	padding:0px;
	font-size:25px;
	font-family: 'GothamHTF-Book';
	white-space:nowrap;
}
#escape{
	position:fixed;
    top:25px;
	right:75px;
	font:22px;
	z-index:2;
}
.watchSelect{
	position:relative;
	display:inline-block;
	height:100vh;
	width:350px;
	background-color:#FFF;
	text-align:center;
	color:#000;
	line-height: 100vh;
	-webkit-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.05);
	box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.05);
}
.watchSelect img{
	position:absolute;
	display:inline-block;
	margin:auto;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center;
}
#watchSelection .number{
	font-family: 'BodoniStd-BoldCondensed';
	position:absolute;
	display:inline-block;
	vertical-align:middle;
	color:#9D8C6C;
	text-align:center;
	font-size:250px;
	z-index:1;
	right:85px;
	opacity: 0.85;
}
#watchSelection .linkColor { 
	position:relative;
	letter-spacing: 4px;
	background-color:#FFF; 
	padding-left:60px;
	padding-right:60px;
	padding-top:5px;
	padding-bottom:5px;
	z-index:2;
}
#firstNum {
	font-family: 'BodoniStd-BoldCondensed';
	position:absolute;
	display:inline-block;
	height:100vh;
	text-align:center;
	color:#9D8C6C;
	line-height: 100vh;
	font-size:250px;
	z-index:1;
	right:80px;
	opacity: 0.85;
}

/*styles specific to time selection*/
#timeSelection{
	margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
	padding-top: 0px;
	padding:0px;
	font-size:25px;
	font-family: 'GothamHTF-Book';
	white-space:nowrap;
	height:100%;
}
.timeSelect{
	position:relative;
	display:inline-block;
	height:100vh;
	width:350px;
	background-color:#FFF;
	text-align:center;
	color:#000;
	line-height: 100vh;
	-webkit-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.05);
	box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.05);
}
.timeSelect img{
	position:absolute;
	display:inline-block;
	margin:auto;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center;
	z-index:2;
	width:50%;
}
#timeSelection .linkColor { 
	font-family: 'BodoniStd-Book';
	position:relative;
	z-index:2;
	right:30px;
	top:-5px;
	font-size:85px;
}
#timeSelection .number{
	font-family: 'BodoniStd-BoldCondensed';
	position:absolute;
	display:inline-block;
	vertical-align:middle;
	color:#9D8C6C;
	text-align:center;
	font-size:250px;
	z-index:1;
	right:60px;
	opacity: 0.85;
	z-index:1;
}

/*styles specific to history page*/
#watchHistory{
	margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
	padding-top: 0px;
	padding:0px;
	font-size:25px;
	white-space:nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
.watchHistorySelect{
	position:relative;
	display:inline-block;
	height:100vh;
	width:350px;
	background-color:#E0E0E0;
	text-align:center;
	color:#000;
	line-height: 100vh;
	-webkit-box-shadow: -8px 0px 7px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: -8px 0px 7px 0px rgba(0,0,0,0.2);
	box-shadow: -8px 0px 7px 0px rgba(0,0,0,0.2);
	cursor: pointer;
}

.watchHistorySelect img {
	position: absolute;
	left: 0;
	top: 0;
	height: 1080px;
	-webkit-filter: grayscale(100%) contrast(80%);
	filter: grayscale(100%) contrast(80%);
	transition: 0.3s ease-in all;
}

.watchHistorySelect:hover img {
	-webkit-filter: grayscale(0%) contrast(100%);
	filter: grayscale(0%) contrast(100%);
}

#watchHistory .linkColor {
	background: none;
	color: #fff;
	font-size: 1.5em;
	position: relative;
	z-index: 2;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

#watchHistory .number {
	color: rgba(0,0,0,0.6);
}

#watchHistory .person {
	display: block;
	height: 1080px;
	width: 1792px;
	position: absolute;
	top: -2000px;
	left: 65px;
	z-index: 9;
	transition: 0.5s ease-in all;
}

#watchHistory .person.visible {
	top: 0;
}

#watchHistory .personBigBackground {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

#watchHistory .close {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: white;
}

#watchHistory .galleryChildExpanded > .close {
	z-index: 900;
}

#watchHistory .expand {
	position: absolute;
	bottom: 20px;
	right: 100px;
	color: white;
}

#watchHistory .person > .close, #watchHistory .person > .expand {
	z-index: 15;
}

#watchHistory .galleryContainer > .close, #watchHistory .galleryContainer > .expand {
	z-index: 30;
}


#watchHistory .galleryContainer {
	display: block;
	width: 1792px;
	height: 1080px;
	position: absolute;
	top: -2000px;
	left: 0;
	z-index: 500;
	background: #000;
	box-shadow: 0 0 10px black;
	overflow: hidden;
	transition: 0.5s ease-in all;

}

#watchHistory .galleryContainer:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 1792px;
	height: 1080px;
	z-index: 501;
	background: url('/images/facet.png') no-repeat;
	background-position: center;
	pointer-events: none;
	transition: none;
	opacity: 0;
}

#watchHistory .galleryContainer.loading:before {
	opacity: 1;
}

#watchHistory .galleryContainer.visible {
	top: 0;
}

#watchHistory .gallery {
	position: relative;
	width: 1972px;
	height: 1080px;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s ease-in all;
}

#watchHistory .gallery.visible {
	pointer-events: auto;
	opacity: 1;
}

#watchHistory .galleryChild {
	font-size: 0;
	display: inline-block;
	margin: 0;
	cursor: pointer;	
}

#watchHistory .galleryChild:before {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#watchHistory .galleryChild:before, #watchHistory .galleryImage {
	transition: 0.5s ease-in all;
}

#watchHistory .galleryChild:hover:before {
	box-shadow: 0 0 10px 50px black inset;
}

#watchHistory .galleryChild:hover .galleryImage {
	-webkit-filter: contrast(1.4) grayscale(10%);
}

#watchHistory #infoSnippet {
	position: absolute;
	bottom: -150px;
	width: 1150px;
	height: 125px;
	left: 380px;
	background: white;
	border-radius: 2px;
	box-shadow: 0 0 20px black;
	padding: 45px 0;
	transition: 0.4s ease-in bottom;
	z-index: 50;
	clear: both;
}

#watchHistory #infoSnippet > div {
	float: left;
	white-space: normal;
}

#watchHistory > .galleryChildExpanded {
	display: block;
	pointer-events: none;
	opacity: 0;
	transition: 0.5s ease-in all;
}

#watchHistory > .galleryChildExpanded.visible {
	opacity: 1;
}

#infoSnippet .text {
	width: 755px;
	
	font-size: 0.7em;
}

#infoSnippet strong {
	font-family: 'GothamHTF-Medium', sans-serif;
}
#infoSnippet span {
	color: #9d8c6c;
	font-style: italic;
}
#infoSnippet .slideCount {
	width: 175px;
	text-align: center;
	font-family: 'EB Garamond', serif;
	font-size: 2.2em;
	line-height: 1;
	color: #9d8c6c;
}

#infoSnippet .slideCountCount {
	position: absolute;
}

#infoSnippet .slideCount .divider {
	color: #c9c9c9;
	right: 62px;
	top: 34px;
	font-size: 1em;
}

#infoSnippet .slideCountCount.first {
	right: 78px;
	top: 18px;
}

#infoSnippet .slideCountCount.second {
	left: 1085px;
	top: 43px;
}

#infoSnippet .nav {
	width: 200px;
	text-align: center;
}

#infoSnippet .general-ui-icon {
	font-size: 0.7em;
	padding: 12px;
	margin: 0 10px;
	color: #c9c9c9;
	border-color: #c9c9c9;
}

#infoSnippet .general-ui-icon:hover {
	border-color: #a18f6b;
	color: white;
}

#watchHistory #infoSnippet.visible {
	bottom: 50px;
}

#watchHistory .galleryChild, #watchHistory .galleryChild img {
	transition: width 0.4s, height 0.4s;
}

#watchHistory .galleryImage {
	background-position: center top;
	background-size: cover;
}

#watchHistory .galleryChildExpanded, #watchHistory .galleryChildExpanded div {
	z-index: 29;
	left: 65px !important;
	top: 0 !important;
	width: 1792px !important;
	height: 1080px !important;
	background-size: 100% 100%;
}

/*media styles*/
#model{

overflow:hidden;
}
#model iframe{
position:absolute;
top:-30;
width:100%;
height:100%;
}
/*end product page styles*/
/*timeline styles*/
.yearnum{
position:absolute;
width:100%;
vertical-align:text-top;
font-size:90pt;
margin:0px;
top:10;
text-align:center;
z-index:0;
padding:0px;
color:#EDEDED;
font-family: 'BodoniStd-BoldCondensed';

}
.centnum{
color:#333;
position:absolute;
font-size:32pt;
top:20px;
left:30%;
z-index:2;
text-align:center;
font-family: 'BodoniStd-BoldCondensed';
}

.histdef{
padding:10%;
}
.corner{
width:80px;
position:fixed;
top:15px;
left:33%;
}
#timeimg{
position:absolute;
top:0;
left:0;
height:100%;
overflow:hidden;
}
/*end timeline styles*/

/* MOBILE TIMELINE PAGE */
@media only screen and (max-device-width: 700px){



#nav{
	width:100%;
	height:12vh;
	background:#000;
}
#navFix{
	position:fixed;
	top:0;
	width:100%;
	height:12vh;
	line-height:13.5vh;
	text-align:center;
	background:#000;
	z-index:3;
}
#timelinePic{
	position:relative;
	width:100%;
	height:45vh;
	background:#fff;
	z-index:10;
}

#timelinePic img{
	width:100%;
	height:100%;
}

#model{
overflow:visible;
}
#model iframe{

position:absolute;
top:-30;
width:25%;
height:25%;
}

#pcontainer{
height:100%;
width:100%;
display:inline-block;
margin-left:0px;
top:0px;
}
.column{
height:100%;
float:left;
position:relative;
-webkit-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
padding:0px;
}
.column h1,.column h3,.column h4,.column div{
padding-left:10px;
}
.column::-webkit-scrollbar { width: 0 !important }
#vscroll{
display:none;
}
.vscrollnav{
    
display:none;
}
.vscrollnav img{
display:none;

}
#upnav{
top:0;

}
#downnav{
position:fixed;
bottom:0;
height:80px;
}
#info{

width:100%;
background-color:#F5F5F5;
top:38vh;

}
#media{
background-color:#EDEDED;
}

#plus{
	position:fixed;
    bottom:25px;
	right:75px;
	font:22px;
	z-index:2;
    width:75px;
    height:75px;
}
#details{

position:absolute;
top:10vh;
right:0;
padding:1%;
background-color:#ffffff;
height:175px;

width:63%;
-webkit-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
}
#details h3 {
	padding-top:20px;
    padding-left:30px;
	letter-spacing:2px;
}
#details p {
	font-size:50px;
	padding:15px;
    padding-top:10px;
    
	padding-left:100px;
	padding-right:120px;
    line-height:27pt;
	
}
#details img {
	position:relative;
	float:left;
    width:90px;
    height:90px;
    padding-right:20px;
    padding-top:30px;
}
#categorydetails{
width:90px;
height:90px;
}
/*vscroll styles*/
.thumbnails{
margin-top:150px;
min-width:150px;
padding-left:0px;
margin-left:0px;
}

.thumbnail{
width:150%;
height:150px;
background-color:#ffffff;
z-index:0;
position:relative;
left:-25%;
padding:0px;
margin:auto;
}
.selected{
z-index:2;

background-color:#ffffff;
-webkit-box-shadow: 0px 5px 42px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 42px 1px rgba(0,0,0,0.75);
box-shadow: 0px 5px 42px 1px rgba(0,0,0,0.75);
}
.selected .yearnum{
color:#9D8C6C;
}
.thumbnail img{
position:absolute;
margin:auto;
top:-60;
left:30%;
z-index:0;
}
.thumbnum{
position:absolute;
vertical-align:text-top;
font-size:90pt;
margin:auto;
top:10;
left:35%;
z-index:1;
padding:0px;
opacity: 0.85;
color:#A08E6A;
font-family: 'BodoniStd-BoldCondensed';
text-align:center;
}
.thumbname{
background-color:#ffffff;
position:relative;
font-size:10pt;
margin:auto;
margin-top:60px;
z-index:2;
width:100%;

text-align:center;
color:#333;
text-transform:uppercase;

}
#upnav{
position:fixed;
height:50px;
top:0;
background-color:#FBFBFB;
z-index:3;
}
/*Product Details Styles*/
#categories{
position:absolute;
width:100%;
height:60%;
left:3%;
top:30vh;
}

#menu{
	z-index:1;
	top: 5px;
	
}
.menusection{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
background-color:#F5F5F5;
}
.category{
float:left;
width:150px;
height:150px;
margin-left:7%;
margin-right:7%;
text-align:center;
font-family:"GothamHTF-Medium";
display:block;
}
.category .icon{
margin:auto;
clear:both;
width:90px;
height:90px;
display:inline-block;
margin-bottom:20px;
}
.true span{
    color: white;
	background: #a18f6b;
	border: 2px solid #a18f6b;

}
.false:hover span{
    color: #c9c9c9;
	background: white;
	border: 2px solid #a18f6b;

}
.false:after span{
    color: black;
	background: white;
	border: 2px solid #a18f6b;

}
.menusection .back{
float:left;
background-color:none;

}
.back img{
width:25px;
height:25px;
}
.menusection h2{
float:left;
text-transform: uppercase;
}
.menusection h3{
font-size:16px;
line-height:1.5;
font-family:"GothamHTF-Book";
padding:10px;
clear:both;
}
.menusection h4{
clear:both;
font-size:16px;
line-height:1.5;
font-family:"GothamHTF-Light";
}
.ctitle{
display:block;
}
.cvalue{
z-index:-50;
display:none;
}

.overlap{
position:relative;
width:100%;
}
.title{
position:absolute;
z-index:2;
top:200px;
left:65px;
letter-spacing:3px;
font-family:"GothamHTF-Light";
color:#1E1E1E;
text-transform: uppercase;
font-size:50px;
text-align:center;
}
.position{
position:absolute;
letter-spacing:5px;
color:#1E1E1E;
opacity:.1;
font-size:180px;
margin:0px;
z-index:1;
left:5%;
top:125px;
left:70px;
text-align:center;
font-family:"BodoniStd-BoldCondensed";
}
#dash{
position:absolute;
height:3px;
width:45px;
background-color:#1E1E1E;
top:300px;
left:75px;
z-index:3;
}
#desc{
position:absolute;
color:#1E1E1E;
font-size:1.8em;
margin:0px;
z-index:1;
left:5%;
top:19vh;
left:70px;
font-family:"GothamHTF-Book";
width:85%;
z-index:999;
}
.measure{
color:#1E1E1E;
opacity:.1;
font-size:2em;
position:absolute;
top:15.5vh;
left:40%;
}
.type{
font-size:2.3em;
position:absolute;
text-transform: uppercase;
top:10vh;
left:40%;
}
.diameter{
font-size:1.8em;
position:absolute;
top:13vh;
left:40%;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

}
