* {
	box-sizing: border-box;
}

body {
	background: #fff;
	color: #333;
	font-family: sans-serif;
}

h1 {
	margin: 6px;
}

#container {
	width: 150%;
	margin: 0 auto;
}

.item {
	background: #dbdbdb;
	width: 200px;
	height: 200px;
	margin: 6px;
}

.tall {
	height: 400px;
}

.wide {
	width: 400px;
}

.white {
	background: #f4f4f4; /* Temporarily off-white to demonstrate layout */
}